{%- assign headerSnippetPath = "header-pagestyle-guide" -%}{%- assign wfPage = "6287f70afacfdad4ea33341b" -%}{%- assign bodyClasses = "" -%}
  <div class="section-header wf-section">
    {%- render 'navbar' -%}
  </div>
  <div class="wf-section">
    <div class="bg-hero-categories" style="background-image: url('{{collection.image | img_url: 'master'}}')">
      <div class="content-bg-hero-categories">
        <h2 class="h2-blue center clear">{{ collection.metafields.udesly['title'] }}</h2>
        <div class="_18reg martel center bottom40">{{ collection.description }}</div>
      </div>
    </div>
  </div>
  <div class="section-cta wf-section">
    <div class="bg-wave">
      <div class="content-cta">
        <h3 class="h3-white center">{{ 'tn62069ecc' | t }}</h3>
        <div class="_18reg martel bottom40 center white">{{ 't32d83e49' | t }}</div>
        {%- section 'button-big-and-allwhite' -%}
      </div>
    </div>
  </div>
  <div class="section-wave wf-section">
    <div data-w-id="6ac55f77-6374-a7c4-64ee-ee10f38d29a3" class="wave white"><img src="{{ 'wave.png' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'wave-p-500.png' | asset_url }} 500w, {{ 'wave-p-800.png' | asset_url }} 800w, {{ 'wave-p-1080.png' | asset_url }} 1080w, {{ 'wave-p-1600.png' | asset_url }} 1600w, {{ 'wave-p-2000.png' | asset_url }} 2000w, {{ 'wave-p-2600.png' | asset_url }} 2600w, {{ 'wave-p-3200.png' | asset_url }} 3200w, {{ 'wave.png' | asset_url }} 3840w" alt="" class="image-23"></div>
  </div>
  <div class="section-padding wf-section">
    <div class="div-tools-categories">
      <div class="category-name">
        <h3 class="h3-blue">{{ 'tn4fbd14a4' | t }}</h3>
        <h3 class="h3-blue">{{ collection.title }}</h3>
      </div>
      <div data-delay="4000" data-animation="slide" class="slider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="mask w-slider-mask">
          <div class="slide w-slide">
            <div class="tools">
              {%- if settings.collection_categories_template != blank -%}{%- render "markup_for_collection_categories_template" -%}{%- else -%}{%- render "products_max_1_where_category_idin_current_where_popular_eq_true" -%}{%- endif -%}
            </div>
          </div>
          <div class="slide w-slide">
            <div class="tools">
              {%- if settings.collection_2_categories_template != blank -%}{%- render "markup_for_collection_2_categories_template" -%}{%- else -%}{%- render "products_max_1_skip_1_where_category_idin_current_where_popular_eq_true" -%}{%- endif -%}
            </div>
          </div>
          <div class="slide w-slide">
            <div class="tools">
              {%- if settings.collection_3_categories_template != blank -%}{%- render "markup_for_collection_3_categories_template" -%}{%- else -%}{%- render "products_max_1_skip_2_where_category_idin_current_where_popular_eq_true" -%}{%- endif -%}
            </div>
          </div>
          <div class="slide w-slide">
            <div class="tools">
              {%- if settings.collection_4_categories_template != blank -%}{%- render "markup_for_collection_4_categories_template" -%}{%- else -%}{%- render "products_max_1_skip_3_where_category_idin_current_where_popular_eq_true" -%}{%- endif -%}
            </div>
          </div>
          <div class="slide w-slide">
            <div class="tools">
              {%- if settings.collection_5_categories_template != blank -%}{%- render "markup_for_collection_5_categories_template" -%}{%- else -%}{%- render "products_max_1_skip_4_where_category_idin_current_where_popular_eq_true" -%}{%- endif -%}
            </div>
          </div>
          <div class="slide w-slide">
            <div class="tools">
              {%- if settings.collection_6_categories_template != blank -%}{%- render "markup_for_collection_6_categories_template" -%}{%- else -%}{%- render "products_max_1_skip_5_where_category_idin_current_where_popular_eq_true" -%}{%- endif -%}
            </div>
          </div>
          <div class="slide w-slide">
            <div class="tools">
              {%- if settings.collection_7_categories_template != blank -%}{%- render "markup_for_collection_7_categories_template" -%}{%- else -%}{%- render "products_max_1_skip_6_where_category_idin_current_where_popular_eq_true" -%}{%- endif -%}
            </div>
          </div>
          <div class="slide w-slide">
            <div class="tools">
              {%- if settings.collection_8_categories_template != blank -%}{%- render "markup_for_collection_8_categories_template" -%}{%- else -%}{%- render "products_max_1_skip_7_where_category_idin_current_where_popular_eq_true" -%}{%- endif -%}
            </div>
          </div>
        </div>
        <div class="left-arrow w-slider-arrow-left">
          <div class="left-arrow"><img src="{{ 'arrow_left.svg' | asset_url }}" loading="lazy" alt=""></div>
        </div>
        <div class="right-arrow w-slider-arrow-right">
          <div class="left-right"><img src="{{ 'arrow_right_2.svg' | asset_url }}" loading="lazy" alt=""></div>
        </div>
        <div class="slide-nav w-slider-nav w-round"></div>
      </div>
    </div>
  </div>
  <div class="section-padding wf-section">
    <div class="filter-select-color">
      <div class="filter-color-products w-form">
        {%- form "contact",  class: "form-filters-product-type" -%}<label for="contact[email]">{{ 't3ff5b7c' | t }}</label><input type="email" name="contact[email]" class="w-input" required=""><label for="email-4" class="_20eb">{{ 't42ccc3eb' | t }}</label>
          <div class="collection-list-wrapper-26 w-dyn-list">
            {%- unless items_length == 0 -%}<div role="list" class="collection-list-tools-categories w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <div id="wallsformoption" data-w-id="079692a5-c0e2-e72e-69ac-a03c60b86d39" class="btn-size-type-tools fixedsize w-node-_079692a5-c0e2-e72e-69ac-a03c60b86d39-ea33341b">
                  <p class="filteroptiontext">{{ item.metafields.udesly['undertone'] }}</p>
                </div>
              </div>
            </div>{%- endunless -%}
            {%- if items_length == 0 -%}<div class="w-dyn-empty">
              <div>{{ 't3d503d2b' | t }}</div>
            </div>{%- endif -%}
          </div>
        {%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
        <div class="view-all-products">
          <div class="w-layout-grid gridfilteroptions-copy">
            <div class="btn-size-type-copy fixedsize">
              <p class="filteroptiontext">{{ 'tn9907982' | t }}</p>
            </div>
            <div class="btn-size-type fixedsize">
              <p class="filteroptiontext">{{ 'tn5cead10d' | t }}</p>
            </div>
            <div class="btn-size-type fixedsize">
              <p class="filteroptiontext">{{ 'tn2b7ff729' | t }}</p>
            </div>
            <div class="btn-size-type fixedsize">
              <p class="filteroptiontext">{{ 't5ec650c5' | t }}</p>
            </div>
            <div class="btn-size-type fixedsize">
              <p class="filteroptiontext">{{ 't26c14b10' | t }}</p>
            </div>
            <div class="btn-size-type fixedsize">
              <p class="filteroptiontext">{{ 't20459c14' | t }}</p>
            </div>
            <div class="btn-size-type fixedsize">
              <p class="filteroptiontext">{{ 'tn6116e6bc' | t }}</p>
            </div>
          </div>
        </div>
        <div class="_18reg martel">{{ 't29610cdb' | t }}</div>
        <div class="w-form-done  {% if form_success %}form-posted-successfully{% endif %}">
          <div>{{ 't5a0ea5a1' | t }}</div>
        </div>
        {%- unless form_success -%}<div class="w-form-fail  {% if form.errors %}form-has-errors{% endif %}">
          <div>{%- render "form-errors", form_errors: form_errors -%}</div>
        </div>{%- endunless -%}
      </div>
    </div>
  </div>
  <div class="section-padding wf-section">
    <div class="cards-tool-categories">
      <div class="tools-card-categories">
        {%- render "products_archive_paginated_by_16" -%}
      </div>
      <div class="b-btn">
        {%- render 'button_normal-and-allred' -%}
      </div>
    </div>
  </div>
  <div class="section-padding bg-violet wf-section">
    <div class="block_live_shopping">
      <div class="w-layout-grid gridblocklive">
        <div id="w-node-_887d4c70-7b59-7f92-134f-d34f03376983-ea33341b" class="blockliveshopping-image-grid-copy right">
          <div class="circle-inspiration rose"></div><img src="{{ 'photo_animation_extpaint.png' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'photo_animation_extpaint-p-500.png' | asset_url }} 500w, {{ 'photo_animation_extpaint-p-800.png' | asset_url }} 800w, {{ 'photo_animation_extpaint-p-1080.png' | asset_url }} 1080w, {{ 'photo_animation_extpaint.png' | asset_url }} 1360w" alt="">
        </div>
        <div id="w-node-_887d4c70-7b59-7f92-134f-d34f03376986-ea33341b" class="blockliveshopping-content-grid-copy right">
          <h3 class="h3-blue white">{{ 't28516c02' | t }}</h3>
          <div class="_16reg white">{{ 'tn67a16a26' | t }}</div>
          <div class="featurebox">
            <div class="feature-1"><img src="{{ 'label_done.png' | asset_url }}" loading="lazy" alt="">
              <div class="_16b white martel">{{ 'tn753a8836' | t }}</div>
            </div>
            <div class="feature-1"><img src="{{ 'label_done.png' | asset_url }}" loading="lazy" alt="">
              <div class="_16b white martel">{{ 'tn753a8836' | t }}</div>
            </div>
          </div>
          <div class="block-btn mtop60 home">
            {%- render 'button_normal-and-allred' -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-padding wf-section">
    <section class="faq">
      <div class="faq-padding-2">
        <div class="faq-container-small">
          <div class="faq-padding-vertical padding-xhuge-faq">
            <div class="faq-margin-bottom margin-xxlarge-faq">
              <div class="content-faq center">
                <div class="red-lines-header">
                  <div class="line"></div>
                  <p class="_18bi-caps-kanit">{{ 'tn6a3abeb3' | t }}</p>
                  <div class="line"></div>
                </div>
                <h2 class="h3-blue center">{{ 't178884a7' | t }}</h2>
                <div class="_18reg center martel">{{ 'tn115a5e1' | t }}</div>
                {%- section 'link_small' -%}
              </div>
            </div>
            <div class="faq1-component">
              <div class="faq1_accordion">
                <div data-w-id="1c3a733c-c94f-68d5-ce97-e7da92bc4014" class="faq1_question">
                  <div class="_20eb left">{{ 't5cb58f10' | t }}</div><img src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/624380709031625d694aee83_icon_chevron.svg" loading="lazy" alt="" class="faq1_icon">
                </div>
                <div style="height:0px" class="faq1_answer">
                  <div class="faq-margin-bottom margin-small">
                    <p class="_16reg">{{ 't2ffeed7d' | t }}<br><br>{{ 't318168b4' | t }}</p>
                  </div>
                </div>
              </div>
              <div class="faq1_accordion">
                <div data-w-id="1c3a733c-c94f-68d5-ce97-e7da92bc4020" class="faq1_question">
                  <div class="_20eb left">{{ 't5cb58f10' | t }}</div><img src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/624380709031625d694aee83_icon_chevron.svg" loading="lazy" alt="" class="faq1_icon">
                </div>
                <div style="height:0px" class="faq1_answer">
                  <div class="faq-margin-bottom margin-small">
                    <p class="_16reg">{{ 'tn5286fc08' | t }}</p>
                  </div>
                </div>
              </div>
              <div class="faq1_accordion">
                <div data-w-id="1c3a733c-c94f-68d5-ce97-e7da92bc4029" class="faq1_question">
                  <div class="_20eb left">{{ 't5cb58f10' | t }}</div><img src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/624380709031625d694aee83_icon_chevron.svg" loading="lazy" alt="" class="faq1_icon">
                </div>
                <div style="height:0px" class="faq1_answer">
                  <div class="faq-margin-bottom margin-small">
                    <p class="_16reg">{{ 'tn5286fc08' | t }}</p>
                  </div>
                </div>
              </div>
              <div class="faq1_accordion">
                <div data-w-id="1c3a733c-c94f-68d5-ce97-e7da92bc4032" class="faq1_question">
                  <div class="_20eb left">{{ 't5cb58f10' | t }}</div><img src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/624380709031625d694aee83_icon_chevron.svg" loading="lazy" alt="" class="faq1_icon">
                </div>
                <div style="height:0px" class="faq1_answer">
                  <div class="faq-margin-bottom margin-small">
                    <p class="_16reg">{{ 'tn5286fc08' | t }}</p>
                  </div>
                </div>
              </div>
              <div class="faq1_accordion">
                <div data-w-id="1c3a733c-c94f-68d5-ce97-e7da92bc403b" class="faq1_question">
                  <div class="_20eb left">{{ 't5cb58f10' | t }}</div><img src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/624380709031625d694aee83_icon_chevron.svg" loading="lazy" alt="" class="faq1_icon">
                </div>
                <div style="height:0px" class="faq1_answer">
                  <div class="faq-margin-bottom margin-small">
                    <p class="_16reg">{{ 'tn5286fc08' | t }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="section-padding wf-section">
    <div class="categories-tools-inspiration">
      <div class="inspiration-margin-content">
        <div class="content-faq center">
          <div class="red-lines-header">
            <div class="line"></div>
            <p class="_18bi-caps-kanit">{{ 'tn6ede9516' | t }}</p>
            <div class="line"></div>
          </div>
          <h2 class="h3-blue center">{{ 'tn7a25663d' | t }}</h2>
          <div class="_18reg center martel">{{ 't30e707b' | t }}</div>
        </div>
      </div>
      <div class="inspirationcontent-grid">
        {%- render "interior_color_inspirations_max_1_skip_1" -%}
        {%- render "interior_color_inspirations_max_2_skip_1" -%}
      </div>
      <div class="colors-inspiration">
        <div class="popular-green-shades">
          <div class="_20eb">{{ 'tn1b406b46' | t }}</div>
          <div class="palette-green">
            {%- render "interior_colors_max_7" -%}
          </div>
        </div>
        <div class="complementary-colors">
          <div class="_20eb">{{ 't6c9c88ee' | t }}</div>
          <div class="complementary-pallete">
            {%- render "interior_colors_max_3_skip_3" -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-padding wf-section">
    <div class="inspiration-categories-tls _1">
      <div class="inspirationcontent-grid">
        {%- render "exterior_color_inspirations_max_1_skip_1" -%}
        {%- render "exterior_color_inspirations_max_1_skip_1_number_0" -%}
      </div>
      <div class="colors-inspiration-categories">
        <div class="popular-green-shades right">
          <div class="_20eb">{{ 't395e1a75' | t }}</div>
          <div class="palette-green">
            {%- render "exterior_colors" -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-padding wf-section">
    <div class="content-other-review">
      <h3 class="h4-blue center m-60">{{ 'te832400' | t }}</h3>
      {%- render 'button_normal-and-allred' -%}
    </div>
  </div>
  <div class="section-padding wf-section">
    <div class="gallery-r-categories-tools">
      <div class="w-layout-grid grid-6">
        <div id="w-node-_7066c9f4-ecde-9a8c-5949-dc11f143c0b8-ea33341b" class="text-content">
          <div class="red-lines-header">
            <div class="line left"></div>
            <p class="_18bi-caps-kanit">{{ 't38a4b02c' | t }}</p>
            <div class="line right"></div>
          </div>
          <h2 class="h2-blue">{{ 't59c30117' | t }}</h2>
          <p class="_18reg mtop20">{{ 't10eb13c1' | t }}</p>
          <p class="_24eb mtop40">{{ 'tn6891907b' | t }}</p>
          <div class="block-btn mtop60 home">
            {%- render 'button_normal-and-allred' -%}
            {%- section 'button_normal-and-red' -%}
          </div>
        </div>
        <div id="w-node-_7066c9f4-ecde-9a8c-5949-dc11f143c0c9-ea33341b" class="pictures _2">
          <div class="image-column-2 mobile">
            <div data-w-id="7066c9f4-ecde-9a8c-5949-dc11f143c0cb" class="img01 big"><img src="{{ 'small01.png' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'small01-p-500.png' | asset_url }} 500w, {{ 'small01-p-800.png' | asset_url }} 800w, {{ 'small01.png' | asset_url }} 880w" alt="" class="img-tools">
              <div style="opacity:0" class="overlay">
                <div class="_20eb white">{{ 't5cb58f10' | t }}</div>
                {%- section 'link_standard' -%}
              </div>
            </div>
            <div data-w-id="7066c9f4-ecde-9a8c-5949-dc11f143c0d1" class="img01 big-dasktop"><img src="{{ 'small02.png' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'small02-p-500.png' | asset_url }} 500w, {{ 'small02-p-800.png' | asset_url }} 800w, {{ 'small02.png' | asset_url }} 880w" alt="" class="img-tools">
              <div style="opacity:0" class="overlay">
                <div class="_20eb white">{{ 't5cb58f10' | t }}</div>
                {%- section 'link_standard' -%}
              </div>
            </div>
          </div>
          <div class="image-column-1">
            <div data-w-id="7066c9f4-ecde-9a8c-5949-dc11f143c0d8" class="img01 small2"><img src="{{ 'small03.png' | asset_url }}" loading="lazy" alt="" class="img-tools">
              <div style="opacity:0" class="overlay-small">
                <div class="_20eb white">{{ 'tn4f308afb' | t }}</div>
                {%- section 'link_standard' -%}
              </div>
            </div>
            <div data-w-id="7066c9f4-ecde-9a8c-5949-dc11f143c0de" class="img01 small2"><img src="{{ 'small04.png' | asset_url }}" loading="lazy" alt="" class="img-tools">
              <div style="opacity:0" class="overlay-small">
                <div class="_20eb white">{{ 'tn4f308afb' | t }}</div>
                {%- section 'link_standard' -%}
              </div>
            </div>
            <div data-w-id="7066c9f4-ecde-9a8c-5949-dc11f143c0e4" class="img01 close"><img src="{{ 'small05.png' | asset_url }}" loading="lazy" alt="" class="img-tools">
              <div style="opacity:0" class="overlay-small">
                <div class="_20eb white">{{ 'tn4f308afb' | t }}</div>
                {%- section 'link_standard' -%}
              </div>
            </div>
          </div>
          <div data-w-id="7066c9f4-ecde-9a8c-5949-dc11f143c0ea" class="img01 big-mobile"><img src="{{ 'photo02.png' | asset_url }}" loading="lazy" alt="">
            <div style="opacity:0" class="overlay">
              <div class="_20eb white">{{ 't5cb58f10' | t }}</div>
              {%- section 'link_standard' -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- render 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6287bb88d050e6c7bbe247e8" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}<script type="module">import*as UdeslyBanner from"https://cdn.jsdelivr.net/npm/udesly-ad-banner@0.0.1/loader/index.js";UdeslyBanner.defineCustomElements(),document.body.append(document.createElement("udesly-banner"));</script>