{%- assign headerSnippetPath = "header-pageinterior-paint-landing" -%}{%- assign wfPage = "629a363da281fb7262c2d75e" -%}{%- assign bodyClasses = "" -%}
  <div class="section-header wf-section">
    {%- render 'navbar' -%}
  </div>
  <div class="section-padding wf-section">
    <div class="herounit">
      <div class="heroleft">
        <div class="red-lines-header-inspiration">
          <div class="line left"></div>
          <p class="_18bi-caps-kanit">{{ 'tn36204212' | t }}</p>
          <div class="line right"></div>
        </div>
        <h1 class="h2-blue herowidth">{{ 't687bea74' | t }}</h1>
        <p class="_18reg herowidth">{{ 'tn1246aa80' | t }}</p>
        <div class="block-btn mtop60 home">
          {%- render 'button_normal-and-allred' -%}
          {%- section 'button_normal-and-red' -%}
        </div>
      </div>
      <div class="heroright">
        <div class="hero_height">
          <div class="hero_photo"><img src="{{ 'graphic-square-elements-left.svg' | asset_url }}" loading="lazy" alt="" class="heroimgdecor-left"><img src="{{ 'hero-int-left.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 43vw, (max-width: 991px) 45vw, (max-width: 1439px) 23vw, (max-width: 1919px) 298.40625px, 264.59375px" srcset="{{ 'hero-int-left-p-500.png' | asset_url }} 500w, {{ 'hero-int-left.png' | asset_url }} 720w" alt="" class="heroleftint"></div>
          <div class="hero_photo_right"><img src="{{ 'graphic-square-elements-right.svg' | asset_url }}" loading="lazy" alt="" class="heroimgdecor-right"><img src="{{ 'hero-int-right.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 43vw, (max-width: 991px) 45vw, (max-width: 1439px) 23vw, (max-width: 1919px) 298.40625px, 264.59375px" srcset="{{ 'hero-int-right-p-500.png' | asset_url }} 500w, {{ 'hero-int-right.png' | asset_url }} 720w" alt="" class="herorightint"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-cta wf-section">
    <div class="bg-wave">
      <div class="content-cta">
        <h3 class="h3-white center">{{ 'tn84bc947' | t }}</h3>
        <div class="_20sb-martel white m20-60">{{ 't49ba51ed' | t }}</div>
        {%- section 'button-big-and-allwhite' -%}
      </div>
    </div>
  </div>
  <div class="section-wave wf-section">
    <div data-w-id="20b6946a-bc66-de8e-05c1-eb465d101ab8" class="wave white"><img src="{{ 'wave.png' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'wave-p-500.png' | asset_url }} 500w, {{ 'wave-p-800.png' | asset_url }} 800w, {{ 'wave-p-1080.png' | asset_url }} 1080w, {{ 'wave-p-1600.png' | asset_url }} 1600w, {{ 'wave-p-2000.png' | asset_url }} 2000w, {{ 'wave-p-2600.png' | asset_url }} 2600w, {{ 'wave-p-3200.png' | asset_url }} 3200w, {{ 'wave.png' | asset_url }} 3840w" alt="" class="image-23"></div>
  </div>
  <div class="section-padding wf-section">
    <div class="trending">
      <div class="trending-content">
        <h2 class="h2-blue center m60">{{ 'tnda83a85' | t }}</h2>
      </div>
      <div class="color-trending">
        {%- render "interior_colors_sorted_by_name" -%}
      </div>
      <div class="btn-trending">
        {%- render 'button_normal-and-allred' -%}
      </div>
    </div>
  </div>
  <div class="section-padding wf-section">
    <div class="inspiration _1">
      <div class="inspiration-content-1">
        <div class="red-lines-header-inspiration">
          <div class="line left"></div>
          <p class="_18bi-caps-kanit">{{ 'tn6ede9516' | t }}</p>
          <div class="line right"></div>
        </div>
        <h2 class="h2-blue">{{ 'tn13f0e8ed' | t }}</h2>
        <p class="_18reg mtop20">{{ 't30e707b' | t }}</p>
      </div>
      <div class="inspirationcontent-grid">
        {%- render "interior_color_inspirations_max_1_skip_1_number_1" -%}
        {%- render "interior_color_inspirations_max_2_skip_1_number_0" -%}
      </div>
      <div class="colors-inspiration">
        <div class="popular-green-shades">
          <div class="_20eb">{{ 'tn1b406b46' | t }}</div>
          <div class="palette-green">
            {%- render "interior_colors_max_7_number_3" -%}
          </div>
        </div>
        <div class="complementary-colors">
          <div class="_20eb">{{ 't6c9c88ee' | t }}</div>
          <div class="complementary-pallete">
            {%- render "interior_colors_max_3_skip_3_number_0" -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-padding wf-section">
    <div class="inspiration _2">
      <div class="inspirationcontent-grid">
        {%- render "interior_color_inspirations_max_1" -%}
        {%- render "interior_color_inspirations_max_1_number_0" -%}
      </div>
      <div class="colors-inspiration">
        <div class="popular-green-shades">
          <div class="_20eb">{{ 'tn1b406b46' | t }}</div>
          <div class="palette-green">
            {%- render "interior_colors_max_7_number_4" -%}
          </div>
        </div>
        <div class="complementary-colors">
          <div class="_20eb">{{ 't6c9c88ee' | t }}</div>
          <div class="complementary-pallete">
            {%- render "interior_colors_max_3_skip_3_number_1" -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-padding wf-section">
    <div class="inspiration _1">
      <div class="inspirationcontent-grid">
        {%- render "interior_color_inspirations_max_1_skip_1_number_2" -%}
        {%- render "interior_color_inspirations_max_2_skip_1_number_1" -%}
      </div>
      <div class="colors-inspiration">
        <div class="popular-green-shades">
          <div class="_20eb">{{ 'tn1b406b46' | t }}</div>
          <div class="palette-green">
            {%- render "interior_colors_max_7_number_5" -%}
          </div>
        </div>
        <div class="complementary-colors">
          <div class="_20eb">{{ 't6c9c88ee' | t }}</div>
          <div class="complementary-pallete">
            {%- render "interior_colors_max_3_skip_3_number_2" -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-padding wf-section">
    <div class="inspiration _2">
      <div class="inspirationcontent-grid">
        {%- render "interior_color_inspirations_max_1_number_1" -%}
        {%- render "interior_color_inspirations_max_1_number_2" -%}
      </div>
      <div class="colors-inspiration">
        <div class="popular-green-shades">
          <div class="_20eb">{{ 'tn1b406b46' | t }}</div>
          <div class="palette-green">
            {%- render "interior_colors_max_7_number_6" -%}
          </div>
        </div>
        <div class="complementary-colors">
          <div class="_20eb">{{ 't6c9c88ee' | t }}</div>
          <div class="complementary-pallete">
            {%- render "interior_colors_max_3_skip_3_number_3" -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-padding wf-section">
    <div class="content-other-colors">
      <h3 class="h4-blue center m-60">{{ 't4dca1507' | t }}</h3>
      {%- render 'button_normal-and-allred' -%}
    </div>
  </div>
  <div class="section-padding bg-violet wf-section">
    <div class="block_live_shopping">
      <div class="w-layout-grid gridblocklive">
        <div id="w-node-_6c7f5361-3b0a-4771-4065-f7893e6623f5-62c2d75e" class="blockliveshopping-image-grid-copy right">
          <div class="circle-inspiration rose"></div><img src="{{ 'photo_animation.png' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'photo_animation-p-500.png' | asset_url }} 500w, {{ 'photo_animation-p-800.png' | asset_url }} 800w, {{ 'photo_animation-p-1080.png' | asset_url }} 1080w, {{ 'photo_animation.png' | asset_url }} 1360w" alt="" class="image-36">
        </div>
        <div id="w-node-_6c7f5361-3b0a-4771-4065-f7893e662406-62c2d75e" class="blockliveshopping-content-grid-copy right">
          <h3 class="h3-blue white">{{ 'tn1c54968' | t }}</h3>
          <div class="_16reg white">{{ 'tn54e49873' | t }}</div>
          <div class="block-btn mtop60 home">
            {%- render 'button_normal-and-allred' -%}
            {%- section 'button-big-and-allwhite' -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-padding wf-section">
    <section class="faq">
      <div class="faq-padding-2">
        <div class="faq-container-small">
          <div class="faq-padding-vertical padding-xhuge-faq">
            <div class="faq-margin-bottom margin-xxlarge-faq">
              <div class="content-faq center">
                <div class="red-lines-header">
                  <div class="line"></div>
                  <p class="_18bi-caps-kanit">{{ 'tn6a3abeb3' | t }}</p>
                  <div class="line"></div>
                </div>
                <h2 class="h3-blue center">{{ 'tn61563db5' | t }}</h2>
                <div class="_18reg center">{{ 'tn115a5e1' | t }}</div>
                {%- section 'link_small' -%}
              </div>
            </div>
            <div class="faq1-component">
              <div class="faq1_accordion">
                <div data-w-id="7a103848-98ed-d441-a5fd-944f0361c396" class="faq1_question">
                  <div class="_20eb left">{{ 't5cb58f10' | t }}</div><img src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/624380709031625d694aee83_icon_chevron.svg" loading="lazy" alt="" class="faq1_icon">
                </div>
                <div style="height:0px" class="faq1_answer">
                  <div class="faq-margin-bottom margin-small">
                    <p class="_16reg">{{ 't2ffeed7d' | t }}<br><br>{{ 't318168b4' | t }}</p>
                  </div>
                </div>
              </div>
              <div class="faq1_accordion">
                <div data-w-id="7a103848-98ed-d441-a5fd-944f0361c3a2" class="faq1_question">
                  <div class="_20eb left">{{ 't5cb58f10' | t }}</div><img src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/624380709031625d694aee83_icon_chevron.svg" loading="lazy" alt="" class="faq1_icon">
                </div>
                <div style="height:0px" class="faq1_answer">
                  <div class="faq-margin-bottom margin-small">
                    <p class="_16reg">{{ 'tn5286fc08' | t }}</p>
                  </div>
                </div>
              </div>
              <div class="faq1_accordion">
                <div data-w-id="7a103848-98ed-d441-a5fd-944f0361c3ab" class="faq1_question">
                  <div class="_20eb left">{{ 't5cb58f10' | t }}</div><img src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/624380709031625d694aee83_icon_chevron.svg" loading="lazy" alt="" class="faq1_icon">
                </div>
                <div style="height:0px" class="faq1_answer">
                  <div class="faq-margin-bottom margin-small">
                    <p class="_16reg">{{ 'tn5286fc08' | t }}</p>
                  </div>
                </div>
              </div>
              <div class="faq1_accordion">
                <div data-w-id="7a103848-98ed-d441-a5fd-944f0361c3b4" class="faq1_question">
                  <div class="_20eb left">{{ 't5cb58f10' | t }}</div><img src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/624380709031625d694aee83_icon_chevron.svg" loading="lazy" alt="" class="faq1_icon">
                </div>
                <div style="height:0px" class="faq1_answer">
                  <div class="faq-margin-bottom margin-small">
                    <p class="_16reg">{{ 'tn5286fc08' | t }}</p>
                  </div>
                </div>
              </div>
              <div class="faq1_accordion">
                <div data-w-id="7a103848-98ed-d441-a5fd-944f0361c3bd" class="faq1_question">
                  <div class="_20eb left">{{ 't5cb58f10' | t }}</div><img src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/624380709031625d694aee83_icon_chevron.svg" loading="lazy" alt="" class="faq1_icon">
                </div>
                <div style="height:0px" class="faq1_answer">
                  <div class="faq-margin-bottom margin-small">
                    <p class="_16reg">{{ 'tn5286fc08' | t }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="section-wave wf-section">
    <div class="wave rose"><img src="{{ 'wave-rose.png' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'wave-rose-p-500.png' | asset_url }} 500w, {{ 'wave-rose-p-800.png' | asset_url }} 800w, {{ 'wave-rose-p-1080.png' | asset_url }} 1080w, {{ 'wave-rose-p-1600.png' | asset_url }} 1600w, {{ 'wave-rose-p-2000.png' | asset_url }} 2000w, {{ 'wave-rose-p-2600.png' | asset_url }} 2600w, {{ 'wave-rose.png' | asset_url }} 3840w" alt="" class="image-23"></div>
  </div>
  <div class="section-cta-copy wf-section">
    <div class="bg-wave-rose">
      <div class="content-cta-rose">
        <h3 class="h3-blue center">{{ 't1f23619b' | t }}</h3>
        <div class="block-btn mtop60 home">
          {%- render 'button_normal-and-allred' -%}
          {%- section 'button_normal-and-red' -%}
        </div>
      </div>
    </div>
  </div>
  {%- render 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6287bb88d050e6c7bbe247e8" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}<script type="module">import*as UdeslyBanner from"https://cdn.jsdelivr.net/npm/udesly-ad-banner@0.0.1/loader/index.js";UdeslyBanner.defineCustomElements(),document.body.append(document.createElement("udesly-banner"));</script>