{%- assign headerSnippetPath = "header-pagestyle-guide" -%}{%- assign wfPage = "62ac55731391461e7702013a" -%}{%- assign bodyClasses = "" -%}
  <div class="section-header wf-section">
    {%- render 'navbar' -%}
  </div>
  <div class="section-padding wf-section">
    <div class="hero-oxytex">
      <div class="text-content-oxytex">
        <div class="red-lines-header">
          <div class="line left"></div>
          <p class="_18bi-caps-kanit">{{ 'tn725d6169' | t }}</p>
          <div class="line right"></div>
        </div>
        <h1 class="h2-blue">{{ 't6d6d296a' | t }}</h1>
        <p class="_18reg mtop20">{{ 't766780b2' | t }}</p>
        <p class="_24eb mtop40">{{ 'tn6891907b' | t }}</p>
        <div class="block-btn mtop60 home">
          {%- section 'button_big-and-allred' -%}
        </div>
      </div>
    </div>
  </div>
  <div class="section-header wf-section">
    <div class="oxytex-instagram">
      <h4 class="h4-blue white">{{ 't6ed07b9e' | t }}</h4>
      <div data-delay="4000" data-animation="slide" class="slider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="mask w-slider-mask">
          <div class="slide w-slide">
            <div class="instagram-img"><img src="{{ 'rectangle-103.png' | asset_url }}" loading="lazy" width="248" height="320" alt="" class="image-50"></div>
          </div>
          <div class="slide w-slide">
            <div class="instagram-img"><img src="{{ 'rectangle-104.png' | asset_url }}" loading="lazy" width="248" height="320" alt=""></div>
          </div>
          <div class="slide w-slide">
            <div class="instagram-img"><img src="{{ 'rectangle-105.png' | asset_url }}" loading="lazy" width="248" height="320" alt=""></div>
          </div>
          <div class="slide w-slide">
            <div class="instagram-img"><img src="{{ 'rectangle-103.png' | asset_url }}" loading="lazy" width="248" height="320" alt=""></div>
          </div>
          <div class="slide w-slide">
            <div class="instagram-img"><img src="{{ 'rectangle-104.png' | asset_url }}" loading="lazy" width="248" height="320" alt=""></div>
          </div>
          <div class="slide w-slide">
            <div class="instagram-img"><img src="{{ 'rectangle-105.png' | asset_url }}" loading="lazy" width="248" height="320" alt=""></div>
          </div>
          <div class="slide w-slide">
            <div class="instagram-img"><img src="{{ 'rectangle-105.png' | asset_url }}" loading="lazy" width="248" height="320" alt=""></div>
          </div>
          <div class="slide w-slide">
            <div class="instagram-img"><img src="{{ 'rectangle-105.png' | asset_url }}" loading="lazy" width="248" height="320" alt=""></div>
          </div>
        </div>
        <div class="left-arrow w-slider-arrow-left">
          <div class="left-arrow"><img src="{{ 'icon_1.svg' | asset_url }}" loading="lazy" alt=""></div>
        </div>
        <div class="right-arrow w-slider-arrow-right">
          <div class="left-right"><img src="{{ 'icon-1_1.svg' | asset_url }}" loading="lazy" alt=""></div>
        </div>
        <div class="slide-nav w-slider-nav w-round"></div>
      </div>
    </div>
  </div>
  <div class="section-news wf-section">
    <div class="news-content-copy">
      <div class="red-lines-header">
        <div class="line"></div>
        <p class="_18bi-caps-kanit">{{ 't237a88eb' | t }}</p>
        <div class="line"></div>
      </div>
      <h2 class="h2-blue center m-40">{{ 't48c62163' | t }}</h2>
      <p class="_18reg center m-40">{{ 't7eba39ce' | t }}<span class="text-span">{{ 'tn36e34786' | t }}</span>{{ 't103928' | t }}<span class="text-span-2">{{ 'tn19f6fa3' | t }}<br>{{ 't200d' | t }}</span>{{ 'tn33faa210' | t }}</p>
      {%- section 'button_big_redoutline' -%}
      <div data-w-id="8b181399-abec-1ab2-a422-6d36d6eadfed" class="oxytext _13-copy">
        {%- render "oxytex_winners_max_1_skip_1_number_2" -%}
      </div>
      <div data-w-id="8b181399-abec-1ab2-a422-6d36d6eadff9" class="oxytext _12-copy">
        {%- render "oxytex_winners_max_1_number_2" -%}
      </div>
      <div class="oxytext _11-copy"><img src="{{ 'rectangle-58.png' | asset_url }}" loading="lazy" alt=""></div>
      <div data-w-id="8b181399-abec-1ab2-a422-6d36d6eae00b" class="oxytext _9">
        {%- render "oxytex_winners_max_1_skip_2_number_2" -%}
      </div>
      <div data-w-id="8b181399-abec-1ab2-a422-6d36d6eae017" class="oxytext _10">
        {%- render "oxytex_winners_max_1_skip_3_number_2" -%}
      </div>
      <div class="oxytext _8"><img src="{{ 'rectangle-52.png' | asset_url }}" loading="lazy" alt=""></div>
      <div class="oxytext _6"><img src="{{ 'rectangle-56.png' | asset_url }}" loading="lazy" alt=""></div>
      <div class="oxytext _5"><img src="{{ 'rectangle-57.png' | asset_url }}" loading="lazy" alt=""></div>
      <div class="oxytext _14"><img src="{{ 'rectangle-59.png' | asset_url }}" loading="lazy" alt="" class="image-42"></div>
      <div class="oxytext _4-copy"><img src="{{ 'rectangle-61.png' | asset_url }}" loading="lazy" alt=""></div>
      <div class="oxytext _2-copy"><img src="{{ 'rectangle-62.png' | asset_url }}" loading="lazy" alt=""></div>
      <div class="oxytext _3-copy"><img src="{{ 'rectangle-55.png' | asset_url }}" loading="lazy" alt=""></div>
      <div class="oxytext _1"><img src="{{ 'rectangle-60.png' | asset_url }}" loading="lazy" alt=""></div>
    </div>
  </div>
  <div class="section-padding bg-pink wf-section">
    <div class="content-services-cards center">
      <div class="red-lines-header">
        <div class="line"></div>
        <p class="_18bi-caps-kanit">{{ 't5235105e' | t }}</p>
        <div class="line"></div>
      </div>
      <h2 class="h2-blue">{{ 'tn61563db5' | t }}</h2>
    </div>
    <div class="services-cards">
      <div class="w-layout-grid grid-8">
        <div id="w-node-e1b5ef88-0924-773a-7f6e-b6107edfff3f-7702013a" class="services-card">
          <p class="_20eb">{{ 'tn71d975f2' | t }}</p><img src="{{ 'photo.png' | asset_url }}" loading="lazy" height="" sizes="(max-width: 479px) 60vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, (max-width: 1439px) 23vw, 326px" srcset="{{ 'photo-p-500.png' | asset_url }} 500w, {{ 'photo.png' | asset_url }} 640w" alt="" class="image-17">
          <div class="blok-btn small">
            {%- section 'button-small-and-allred' -%}
            {%- section 'button_small-and-redoutline' -%}
          </div>
        </div>
        <div class="services-card">
          <p class="_20eb">{{ 't57cda49c' | t }}</p><img src="{{ 'photo02_1.png' | asset_url }}" loading="lazy" height="" width="320" srcset="{{ 'photo02_1-p-500.png' | asset_url }} 500w, {{ 'photo02_1.png' | asset_url }} 640w" sizes="(max-width: 479px) 60vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, (max-width: 1439px) 23vw, 326px" alt="" class="image-17">
          <div class="blok-btn small">
            {%- section 'button-small-and-allred' -%}
            {%- section 'button_small-and-redoutline' -%}
          </div>
        </div>
        <div class="services-card">
          <p class="_20eb">{{ 't4270044c' | t }}</p><img src="{{ 'photo03_1.png' | asset_url }}" loading="lazy" height="" sizes="(max-width: 479px) 60vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, (max-width: 1439px) 23vw, 326px" srcset="{{ 'photo03_1-p-500.png' | asset_url }} 500w, {{ 'photo03_1.png' | asset_url }} 640w" alt="" class="image-17">
          <div class="blok-btn small">
            {%- section 'button-small-and-allred' -%}
            {%- section 'button_small-and-redoutline' -%}
          </div>
        </div>
        <div class="services-card">
          <p class="_20eb">{{ 't7e3dd2de' | t }}</p><img src="{{ 'photo04_1.png' | asset_url }}" loading="lazy" height="" sizes="(max-width: 479px) 60vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, (max-width: 1439px) 23vw, 326px" srcset="{{ 'photo04_1-p-500.png' | asset_url }} 500w, {{ 'photo04_1.png' | asset_url }} 640w" alt="" class="image-17">
          <div class="blok-btn small">
            {%- section 'button-small-and-allred' -%}
            {%- section 'button_small-and-redoutline' -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- render 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6287bb88d050e6c7bbe247e8" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}<script type="module">import*as UdeslyBanner from"https://cdn.jsdelivr.net/npm/udesly-ad-banner@0.0.1/loader/index.js";UdeslyBanner.defineCustomElements(),document.body.append(document.createElement("udesly-banner"));</script>