{%- assign headerSnippetPath = "header-pagestyle-guide" -%}{%- assign wfPage = "62ac4b42c2cea8a99dc8cd37" -%}{%- assign bodyClasses = "" -%}
  <div class="section-header wf-section">
    {%- render 'navbar' -%}
  </div>
  <div class="section-padding wf-section">
    <div class="about-left">
      <div class="w-layout-grid grid-aboutus">
        <div class="red-lines-header">
          <div class="line left"></div>
          <p class="_18bi-caps-kanit">{{ 't645efc51' | t }}</p>
          <div class="line right"></div>
        </div>
        <div id="w-node-b49d8df2-9c82-8cc2-a587-40a0529a88d8-9dc8cd37" class="content-right">
          <h1 class="h2-blue">{{ 'tn589c3ec' | t }}</h1>
          <div class="_18reg martel">{{ 'tn63eeaf3d' | t }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-padding wf-section">
    <div class="w-layout-grid grid-img"><img src="{{ 'rectangle-108.png' | asset_url }}" loading="lazy" id="w-node-_7e5149bf-8a06-7e53-6326-8dc7c70fcd11-9dc8cd37" sizes="100vw" srcset="{{ 'rectangle-108-p-500.png' | asset_url }} 500w, {{ 'rectangle-108-p-800.png' | asset_url }} 800w, {{ 'rectangle-108-p-1080.png' | asset_url }} 1080w, {{ 'rectangle-108.png' | asset_url }} 1360w" alt=""><img src="{{ 'rectangle-109.png' | asset_url }}" loading="lazy" id="w-node-_3790ebd7-0585-692f-27de-04f83c15a11a-9dc8cd37" sizes="100vw" srcset="{{ 'rectangle-109-p-500.png' | asset_url }} 500w, {{ 'rectangle-109-p-800.png' | asset_url }} 800w, {{ 'rectangle-109-p-1080.png' | asset_url }} 1080w, {{ 'rectangle-109.png' | asset_url }} 1360w" alt=""></div>
  </div>
  <div class="section-padding wf-section">
    <div class="w-layout-grid grid-our-story">
      <div id="w-node-c4d9efb6-045d-9fda-b2fe-281c4f68434c-9dc8cd37" class="red-lines-header">
        <div class="line left"></div>
        <p class="_18bi-caps-kanit">{{ 't6b43301' | t }}</p>
        <div class="line right"></div>
      </div>
      <div id="w-node-_78c77739-e0e1-3d85-c331-2226f2966f6f-9dc8cd37" class="text-grid">
        <h4 class="h4-blue">{{ 't35788e80' | t }}</h4>
        <div class="_18reg martel mtop20">{{ 'tn72d006f6' | t }}</div>
      </div>
      <div id="w-node-bdd92b18-5a67-7189-bd3c-2563678d955c-9dc8cd37" class="text-grid">
        <h4 class="h4-blue">{{ 'tn257e9768' | t }}</h4>
        <div class="_18reg martel mtop20">{{ 'tn1fc31087' | t }}<br><br>{{ 'tb9c4e49' | t }}</div>
      </div>
    </div>
  </div>
  <div class="section-padding wf-section">
    <div class="quote">
      <div class="grey-quote"><img src="{{ '.svg' | asset_url }}" loading="lazy" alt="" class="image-53">
        <div class="_20sb-martel center">{{ 't14f16e47' | t }}</div>
        <div class="_18bi-caps-kanit center mtop20">{{ 'tn2433ceaf' | t }}</div>
        <div class="_16reg center">{{ 't5cc6d912' | t }}</div>
      </div>
    </div>
  </div>
  <div class="section-padding wf-section">
    <div class="features-numbers">
      <div class="red-lines-header">
        <div class="line left"></div>
        <p class="_18bi-caps-kanit">{{ 'tn6991d8d3' | t }}</p>
        <div class="line right"></div>
      </div>
      <div class="features abuotus">
        <div class="w-layout-grid grid-2">
          <div id="w-node-d7b1c357-5617-95e4-560a-88d2aea354f4-9dc8cd37" class="feature _1">
            <h3 class="h3-blue center">{{ 't69ab8fa' | t }}</h3>
            <p class="_20sb-martel center">{{ 'tn2c2b4e7f' | t }}</p>
          </div>
          <div id="w-node-d7b1c357-5617-95e4-560a-88d2aea354f9-9dc8cd37" class="feature _2">
            <h3 class="h3-blue center">{{ 't70672f7c' | t }}</h3>
            <p class="_20sb-martel center">{{ 't361c9e86' | t }}</p>
          </div>
          <div id="w-node-d7b1c357-5617-95e4-560a-88d2aea354fe-9dc8cd37" class="feature _3">
            <h3 class="h3-blue center">{{ 't624' | t }}</h3>
            <p class="_20sb-martel center">{{ 't633980b6' | t }}</p>
          </div>
          <div id="w-node-d7b1c357-5617-95e4-560a-88d2aea35503-9dc8cd37" class="feature _4">
            <h3 class="h3-blue center">{{ 'tn29a2ed48' | t }}</h3>
            <p class="_20sb-martel">{{ 'tn351b407d' | t }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-padding bg-pink wf-section">
    <div class="content-services-cards">
      <div class="red-lines-header">
        <div class="line left"></div>
        <p class="_18bi-caps-kanit">{{ 't5bebf6c1' | t }}</p>
        <div class="line right"></div>
      </div>
    </div>
    <div class="services-cards">
      <div class="w-layout-grid grid-8">
        <div id="w-node-_137e803c-df0f-acc5-b445-c6c22503a0a4-9dc8cd37" class="services-card">
          <p class="_20eb">{{ 'tn71d975f2' | t }}</p><img src="{{ 'photo.png' | asset_url }}" loading="lazy" height="" sizes="(max-width: 479px) 60vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, (max-width: 1439px) 23vw, 326px" srcset="{{ 'photo-p-500.png' | asset_url }} 500w, {{ 'photo.png' | asset_url }} 640w" alt="" class="image-17">
          <div class="blok-btn small">
            {%- section 'button-small-and-allred' -%}
            {%- section 'button_small-and-redoutline' -%}
          </div>
        </div>
        <div class="services-card">
          <p class="_20eb">{{ 't57cda49c' | t }}</p><img src="{{ 'photo02_1.png' | asset_url }}" loading="lazy" height="" width="320" srcset="{{ 'photo02_1-p-500.png' | asset_url }} 500w, {{ 'photo02_1.png' | asset_url }} 640w" sizes="(max-width: 479px) 60vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, (max-width: 1439px) 23vw, 326px" alt="" class="image-17">
          <div class="blok-btn small">
            {%- section 'button-small-and-allred' -%}
            {%- section 'button_small-and-redoutline' -%}
          </div>
        </div>
        <div class="services-card">
          <p class="_20eb">{{ 't4270044c' | t }}</p><img src="{{ 'photo03_1.png' | asset_url }}" loading="lazy" height="" sizes="(max-width: 479px) 60vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, (max-width: 1439px) 23vw, 326px" srcset="{{ 'photo03_1-p-500.png' | asset_url }} 500w, {{ 'photo03_1.png' | asset_url }} 640w" alt="" class="image-17">
          <div class="blok-btn small">
            {%- section 'button-small-and-allred' -%}
            {%- section 'button_small-and-redoutline' -%}
          </div>
        </div>
        <div class="services-card">
          <p class="_20eb">{{ 'tn4e82227f' | t }}</p><img src="{{ 'photo04_1.png' | asset_url }}" loading="lazy" height="" sizes="(max-width: 479px) 60vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, (max-width: 1439px) 23vw, 326px" srcset="{{ 'photo04_1-p-500.png' | asset_url }} 500w, {{ 'photo04_1.png' | asset_url }} 640w" alt="" class="image-17">
          <div class="blok-btn small">
            {%- section 'button-small-and-allred' -%}
            {%- section 'button_small-and-redoutline' -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-padding wf-section">
    <div class="ourteam">
      <div class="content-ourteam">
        <div class="red-lines-header">
          <div class="line left"></div>
          <p class="_18bi-caps-kanit">{{ 'tn3a2cd4f' | t }}</p>
          <div class="line right"></div>
        </div>
        <h4 class="h4-blue rem3">{{ 't5a778fea' | t }}</h4>
      </div>
      <div class="w-layout-grid grid-info-all-employees">
        <div id="w-node-f4e4f629-07a1-56ef-4e3a-bc1f1e826275-9dc8cd37" class="w-layout-grid grid-info-employee _3">
          <div id="w-node-f4e4f629-07a1-56ef-4e3a-bc1f1e826276-9dc8cd37" class="content-employee">
            <div class="_24eb">{{ 't20f07dc9' | t }}</div>
            <div class="div-block-58">
              <div class="_20sb-martel">{{ 't39343cd7' | t }}</div>
              <div class="_12b-caps martel left">{{ 't1042d' | t }}</div>
              <div class="_14reg blue martel mtop20">{{ 't51c8ee42' | t }}</div>
            </div>
          </div><img src="{{ 'phoeto.png' | asset_url }}" loading="lazy" id="w-node-f4e4f629-07a1-56ef-4e3a-bc1f1e826280-9dc8cd37" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1439px) 97vw, 1400px" srcset="{{ 'phoeto-p-500.png' | asset_url }} 500w, {{ 'phoeto.png' | asset_url }} 640w" alt="" class="image-54">
        </div>
        <div id="w-node-de09218f-07dc-71e0-0618-df23e2474d4b-9dc8cd37" class="w-layout-grid grid-info-employee4">
          <div id="w-node-_1d78e0a7-931e-199d-011d-982b2529df0e-9dc8cd37" class="content-employee">
            <div class="_24eb">{{ 'tn439a0ab4' | t }}</div>
            <div class="div-block-58">
              <div class="_20sb-martel">{{ 't39343cd7' | t }}</div>
              <div class="_12b-caps martel left">{{ 't1042d' | t }}</div>
              <div class="_14reg blue martel mtop20">{{ 't51c8ee42' | t }}</div>
            </div>
          </div><img src="{{ 'photo-1.png' | asset_url }}" loading="lazy" id="w-node-_6eb7e89d-929a-b49d-0ddc-b7a74a2e9379-9dc8cd37" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1439px) 97vw, 1400px" srcset="{{ 'photo-1-p-500.png' | asset_url }} 500w, {{ 'photo-1.png' | asset_url }} 640w" alt="" class="image-54">
        </div>
        <div id="w-node-f642bb99-dbc7-1502-9acb-6dfd6f57f6a5-9dc8cd37" class="w-layout-grid grid-info-employee2">
          <div id="w-node-f642bb99-dbc7-1502-9acb-6dfd6f57f6a6-9dc8cd37" class="content-employee">
            <div class="_24eb">{{ 'tn6b62895e' | t }}</div>
            <div class="div-block-58">
              <div class="_20sb-martel">{{ 't39343cd7' | t }}</div>
              <div class="_12b-caps martel left">{{ 't1042d' | t }}</div>
              <div class="_14reg blue martel mtop20">{{ 't51c8ee42' | t }}</div>
            </div>
          </div><img src="{{ 'photo_2.png' | asset_url }}" loading="lazy" id="w-node-f642bb99-dbc7-1502-9acb-6dfd6f57f6b0-9dc8cd37" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1439px) 97vw, 1400px" srcset="{{ 'photo_2-p-500.png' | asset_url }} 500w, {{ 'photo_2.png' | asset_url }} 640w" alt="" class="image-54">
        </div>
        <div id="w-node-_9a42d913-dec8-cc6e-53d0-9ae5317a3976-9dc8cd37" class="w-layout-grid grid-info-employee _1">
          <div id="w-node-_9a42d913-dec8-cc6e-53d0-9ae5317a3977-9dc8cd37" class="content-employee">
            <div class="_24eb">{{ 'tn6b62895e' | t }}</div>
            <div class="div-block-58">
              <div class="_20sb-martel">{{ 't39343cd7' | t }}</div>
              <div class="_12b-caps martel left">{{ 't1042d' | t }}</div>
              <div class="_14reg blue martel mtop20">{{ 't51c8ee42' | t }}</div>
            </div>
          </div><img src="{{ 'photo-2.png' | asset_url }}" loading="lazy" id="w-node-_9a42d913-dec8-cc6e-53d0-9ae5317a3981-9dc8cd37" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1439px) 97vw, 1400px" srcset="{{ 'photo-2-p-500.png' | asset_url }} 500w, {{ 'photo-2.png' | asset_url }} 640w" alt="" class="image-54">
        </div>
      </div>
    </div>
  </div>
  <div class="section-2 wf-section">
    <div class="div-block-59">
      <div class="content-services-cards center mbottom40 mtop100">
        <div class="red-lines-header">
          <div class="line"></div>
          <p class="_18bi-caps-kanit">{{ 'tn5bfbfdf2' | t }}</p>
          <div class="line"></div>
        </div>
        <h2 class="h2-blue center clear">{{ 'tn6d3803d0' | t }}</h2>
      </div>
      <div class="only-bnt mbottom100">
        {%- section 'link_standard' -%}
      </div>
    </div>
  </div>
  <div class="section-padding wf-section">
    <div class="gallery-r m250">
      <div class="text-content-48percent">
        <div class="red-lines-header">
          <div class="line left"></div>
          <p class="_18bi-caps-kanit">{{ 'tn2b37e5c3' | t }}</p>
          <div class="line right"></div>
        </div>
        <h2 class="h2-blue">{{ 'tn28840476' | t }}</h2>
        <p class="_18reg mtop20">{{ 't6337ff88' | t }}</p>
        <div class="block-btn mtop60 home">
          {%- section 'button-standard' -%}
        </div>
      </div>
      <div class="pictures48percent">
        {%- render "diy_stories_max_5_sorted_by_name_reversed_number_1" -%}
        <div class="w-layout-grid grid-9">
          <div id="w-node-_6719a37b-82d5-522f-badf-983383ec9b0f-9dc8cd37" class="image-column-2">
            <div data-w-id="6719a37b-82d5-522f-badf-983383ec9b10" class="img01">
              {%- render "diy_stories_max_1_skip_4_number_1" -%}
            </div>
            <div data-w-id="6719a37b-82d5-522f-badf-983383ec9b1c" class="img01">
              {%- render "diy_stories_max_1_skip_3_number_1" -%}
            </div>
          </div>
          <div id="w-node-_6719a37b-82d5-522f-badf-983383ec9b28-9dc8cd37" class="image-column-1 diy">
            <div data-w-id="6719a37b-82d5-522f-badf-983383ec9b29" class="img01">
              {%- render "diy_stories_max_1_skip_2_number_1" -%}
            </div>
            <div id="w-node-_6719a37b-82d5-522f-badf-983383ec9b35-9dc8cd37" data-w-id="6719a37b-82d5-522f-badf-983383ec9b35" class="img01">
              {%- render "diy_stories_max_1_number_1" -%}
            </div>
            <div id="w-node-_6719a37b-82d5-522f-badf-983383ec9b41-9dc8cd37" data-w-id="6719a37b-82d5-522f-badf-983383ec9b41" class="img01">
              {%- render "diy_stories_max_1_skip_1_number_1" -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-news wf-section">
    <div class="news-content-copy">
      <div class="red-lines-header">
        <div class="line"></div>
        <p class="_18bi-caps-kanit">{{ 't237a88eb' | t }}</p>
        <div class="line"></div>
      </div>
      <h2 class="h2-blue center m-40">{{ 't48c62163' | t }}</h2>
      <p class="_18reg center m-40">{{ 't7eba39ce' | t }}<span class="text-span">{{ 'tn36e34786' | t }}</span>{{ 't103928' | t }}<span class="text-span-2">{{ 'tn19f6fa3' | t }}<br>{{ 't200d' | t }}</span>{{ 'tn33faa210' | t }}</p>
      {%- section 'button_big_redoutline' -%}
      <div data-w-id="8b7193fd-32db-01ca-4572-2c1f1a1bcb8b" class="oxytext _13-copy">
        {%- render "oxytex_winners_max_1_skip_1_number_1" -%}
      </div>
      <div data-w-id="8b7193fd-32db-01ca-4572-2c1f1a1bcb97" class="oxytext _12-copy">
        {%- render "oxytex_winners_max_1_number_1" -%}
      </div>
      <div class="oxytext _11-copy"><img src="{{ 'rectangle-58.png' | asset_url }}" loading="lazy" alt=""></div>
      <div data-w-id="8b7193fd-32db-01ca-4572-2c1f1a1bcba9" class="oxytext _9">
        {%- render "oxytex_winners_max_1_skip_2_number_1" -%}
      </div>
      <div data-w-id="8b7193fd-32db-01ca-4572-2c1f1a1bcbb5" class="oxytext _10">
        {%- render "oxytex_winners_max_1_skip_3_number_1" -%}
      </div>
      <div class="oxytext _8"><img src="{{ 'rectangle-52.png' | asset_url }}" loading="lazy" alt=""></div>
      <div class="oxytext _6"><img src="{{ 'rectangle-56.png' | asset_url }}" loading="lazy" alt=""></div>
      <div class="oxytext _5"><img src="{{ 'rectangle-57.png' | asset_url }}" loading="lazy" alt=""></div>
      <div class="oxytext _14"><img src="{{ 'rectangle-59.png' | asset_url }}" loading="lazy" alt="" class="image-42"></div>
      <div class="oxytext _4-copy"><img src="{{ 'rectangle-61.png' | asset_url }}" loading="lazy" alt=""></div>
      <div class="oxytext _2-copy"><img src="{{ 'rectangle-62.png' | asset_url }}" loading="lazy" alt=""></div>
      <div class="oxytext _3-copy"><img src="{{ 'rectangle-55.png' | asset_url }}" loading="lazy" alt=""></div>
      <div class="oxytext _1"><img src="{{ 'rectangle-60.png' | asset_url }}" loading="lazy" alt=""></div>
    </div>
  </div>
  {%- render 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6287bb88d050e6c7bbe247e8" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}<script type="module">import*as UdeslyBanner from"https://cdn.jsdelivr.net/npm/udesly-ad-banner@0.0.1/loader/index.js";UdeslyBanner.defineCustomElements(),document.body.append(document.createElement("udesly-banner"));</script>