{%- assign headerSnippetPath = "header-pagestyle-guide" -%}{%- assign wfPage = "6287bb88d050e6ffdbe247f4" -%}{%- assign bodyClasses = "" -%}
  <div class="section-padding wf-section">
    <div class="container">
      <div class="w-layout-grid style-guide-grid">
        <div id="w-node-af6ac8e3-b1ce-cda6-23dc-a32b43a6a065-dbe247f4">
          <h1 id="w-node-cef64361-1f9b-8732-7793-1d4785eeed97-dbe247f4">{{ 'tn7aba473' | t }}</h1>
        </div>
        <div id="w-node-c4313243-b51c-03bb-11ad-c431ebe2a80b-dbe247f4" class="style-guide-category">
          <div>{{ 't5500514f' | t }}</div>
        </div>
        <div id="w-node-d0d2d682-3502-a29f-1a22-871f47028af2-dbe247f4" class="style-guide-edit-wrap">
          <div class="style-guide-edit">{{ 't20e22a' | t }}</div>
          <p>{{ 'tn211f5ff0' | t }}<span class="style-guide-element">{{ 't1fadc2' | t }}</span>{{ 'tn7aebf28' | t }}<span class="style-guide-class tag-class">{{ 'tn206a72b2' | t }}</span>{{ 't4bd6edd6' | t }}</p>
        </div>
        <div id="w-node-eb00ca3d-f0c1-8354-e9aa-1faf574614be-dbe247f4" class="style-guide-wrap">
          <h1 class="h1-white">{{ 't21044f' | t }}<br>{{ 'tn69bb3115' | t }}</h1>
        </div>
        <div id="w-node-_85cb43b8-5298-9d0a-b169-853350d81ae0-dbe247f4" class="style-guide-edit-wrap">
          <div class="style-guide-edit">{{ 't20e22a' | t }}</div>
          <p>{{ 'tn13506efd' | t }}<span class="style-guide-class tag-class">{{ 'tn4defae56' | t }}</span>{{ 't4bd6edd6' | t }}</p>
        </div>
        <div id="w-node-_5ce572de-a6ee-b264-99b3-588be3f1debe-dbe247f4" class="style-guide-wrap">
          <h1 class="h1-black">{{ 't8e9' | t }}<br>{{ 'tn459282d2' | t }}</h1>
        </div>
        <div id="w-node-e573c9ae-1e4b-15b0-7098-638502628a9c-dbe247f4" class="style-guide-edit-wrap">
          <div class="style-guide-edit">{{ 't20e22a' | t }}</div>
          <p>{{ 't3d596f04' | t }}<span class="style-guide-class tag-class">{{ 't4654c0ab' | t }}</span>{{ 't4bd6edd6' | t }}</p>
        </div>
        <div id="w-node-_0c02166c-4ee3-9762-cc8d-f567a47991b2-dbe247f4" class="style-guide-wrap">
          <h2 class="h2-blue">{{ 't8ea' | t }}<br>{{ 't4904c20' | t }}</h2>
        </div>
        <div id="w-node-_31bfd8e3-b79a-c6a8-c644-de3e1d6aef06-dbe247f4" class="style-guide-edit-wrap">
          <div class="style-guide-edit">{{ 't20e22a' | t }}</div>
          <p>{{ 'tn71fcb2fb' | t }}<span class="style-guide-class tag-class">{{ 'tn2566d054' | t }}</span>{{ 't4bd6edd6' | t }}</p>
        </div>
        <div id="w-node-_8101b2ee-d87b-6d50-ecc4-1cc6560df4db-dbe247f4" class="style-guide-wrap">
          <h3 class="h3-blue">{{ 't8eb' | t }}<br>{{ 't57773acb' | t }}</h3>
        </div>
        <div id="w-node-_3a17de0b-401e-a3a2-42fd-475bb760605a-dbe247f4" class="style-guide-edit-wrap">
          <div class="style-guide-edit">{{ 't20e22a' | t }}</div>
          <p>{{ 'tn71fcb2fb' | t }}<span class="style-guide-class tag-class">{{ 'tn2566d054' | t }}</span>{{ 't4bd6edd6' | t }}</p>
        </div>
        <div id="w-node-_6acb1f6f-bdca-67bc-3ec9-d5068a8b7124-dbe247f4" class="style-guide-wrap">
          <h4 class="h4-blue">{{ 't8ec' | t }}<br>{{ 't57773acb' | t }}</h4>
        </div>
        <div id="w-node-aa9291ec-5ca1-3ae2-496b-ff742d602a68-dbe247f4" class="style-guide-edit-wrap">
          <div class="style-guide-edit">{{ 't20e22a' | t }}</div>
          <p>{{ 't7dce0cf' | t }}<span class="style-guide-class tag-class">{{ 't1f52f4c4' | t }}</span>{{ 't4bd6edd6' | t }}</p>
        </div>
        <div id="w-node-_479385eb-f044-0d6d-9fb9-3510fe0092c5-dbe247f4" class="style-guide-wrap">
          <p id="w-node-_36d6a540-3dac-ba1b-4887-4e460e7ddc86-dbe247f4" class="_16reg">{{ 'tn58493805' | t }}<br>{{ 't9f6ef42' | t }}</p>
          <p class="_16b">{{ 'tn58493805' | t }}<br>{{ 't9f6ef42' | t }}</p>
          <p class="_16b-caps">{{ 'tn58493805' | t }}<br>{{ 't9f6ef42' | t }}</p>
          <p class="_18reg">{{ 'tn5286fc08' | t }}</p>
          <p class="_20sb-martel">{{ 'tn5286fc08' | t }}</p>
          <p class="_18b">{{ 'tn5286fc08' | t }}</p>
        </div>
        <div id="w-node-_58a77a61-8d2a-f298-bcf8-5b5d6bda4258-dbe247f4" class="style-guide-edit-wrap">
          <div class="style-guide-edit">{{ 't20e22a' | t }}</div>
          <p>{{ 'tn28c1fe2e' | t }}<span class="style-guide-class">{{ 't6056761e' | t }}</span>{{ 't4bd6edd6' | t }}</p>
        </div>
        <div id="w-node-_84eebd00-708d-d564-7474-81a48d7f1aa8-dbe247f4" class="style-guide-wrap">
          <p class="_20sb-kanit">{{ 'tn681628c9' | t }}<br>{{ 'tn1a93e2f8' | t }}</p>
          <p class="_20eb">{{ 'tn1a93e2f8' | t }}</p>
          <p class="_20eb-caps">{{ 'tn1a93e2f8' | t }}</p>
        </div>
        <div id="w-node-dd785206-1bce-e8d4-65cf-6233fa2d12f0-dbe247f4" class="style-guide-edit-wrap">
          <div class="style-guide-edit">{{ 't20e22a' | t }}</div>
          <p>{{ 'tn28c1fe2e' | t }}<span class="style-guide-class">{{ 't6056761e' | t }}</span>{{ 't4bd6edd6' | t }}</p>
        </div>
        <div id="w-node-_29402669-667b-8aeb-d66e-95adb1edda77-dbe247f4" class="style-guide-wrap">
          <p class="_24eb">{{ 'tn1a93e2f8' | t }}</p>
        </div>
        <div id="w-node-c0ceb277-bbf2-2cf4-4072-7fa273a7e783-dbe247f4" class="style-guide-edit-wrap">
          <div class="style-guide-edit">{{ 't20e22a' | t }}</div>
          <p>{{ 'tn28c1fe2e' | t }}<span class="style-guide-class">{{ 'tn19d0f316' | t }}</span>{{ 't4bd6edd6' | t }}</p>
        </div>
        <div id="w-node-_293d8aee-201d-8e8e-7d11-7b9b1bf3932f-dbe247f4" class="style-guide-wrap">
          <p class="_12reg">{{ 'tn281fda15' | t }}<br>{{ 'tn4904a8e1' | t }}</p>
          <p class="_12b-caps">{{ 'tn281fda15' | t }}<br>{{ 'tn4904a8e1' | t }}</p>
          <p class="_14reg">{{ 'tn281fda15' | t }}<br>{{ 'tn4904a8e1' | t }}</p>
          <p class="_14b">{{ 'tn281fda15' | t }}<br>{{ 'tn4904a8e1' | t }}</p>
          <p class="_14b-caps">{{ 'tn281fda15' | t }}<br>{{ 'tn4904a8e1' | t }}</p>
        </div>
        <div id="w-node-_13b6866b-0a4b-a805-fa5e-e1753fa8c697-dbe247f4" class="style-guide-edit-wrap">
          <div class="style-guide-edit">{{ 't20e22a' | t }}</div>
          <p>{{ 'tn28c1fe2e' | t }}<span class="style-guide-class">{{ 'tn19d0f316' | t }}</span>{{ 't4bd6edd6' | t }}</p>
        </div>
        <div id="w-node-d883b711-c3d5-5538-7849-0fe6cc859ecb-dbe247f4" class="style-guide-wrap">
          <p class="_18bi-caps-kanit">{{ 't73' | t }}<br>{{ 't35f466f2' | t }}</p>
        </div>
        <div id="w-node-_40d4d6df-e38b-f778-5115-ea8f93d0542e-dbe247f4" class="style-guide-edit-wrap">
          <div class="style-guide-edit">{{ 't20e22a' | t }}</div>
          <p>{{ 'tn4850e328' | t }}<span class="style-guide-class tag-class">{{ 'tn190a61bd' | t }}</span>{{ 't20f7543' | t }}<span class="style-guide-class">{{ 't4269bb7e' | t }}</span></p>
          <p>{{ 'tn92f427c' | t }}</p>
        </div>
        <div id="w-node-c9d7c3ab-d31b-4fe2-e290-666f73a76a6a-dbe247f4" class="style-guide-wrap">
          <div class="rich-text w-richtext">
            <h2>{{ 't53c07ae1' | t }}</h2>
            <p>{{ 't57957d43' | t }}</p>
            <h3>{{ 't5cc9e221' | t }}</h3>
            <p>{{ 'tn66595a69' | t }}</p>
          </div>
        </div>
        <div id="w-node-_1cb2eaff-c085-9ab3-df4a-1725ee4f484b-dbe247f4" class="style-guide-edit-wrap">
          <div class="style-guide-edit">{{ 't20e22a' | t }}</div>
          <p>{{ 'tn4d0880f4' | t }}<span class="style-guide-class">{{ 't2424be' | t }}</span>{{ 't2f06cd0a' | t }}</p>
        </div>
        <div id="w-node-_1229091c-99d0-b728-5727-37785a9996e2-dbe247f4" class="style-guide-wrap">
          <h2>{{ 't23a89e' | t }}</h2>
          <ul role="list" class="list">
            <li class="list-item">
              <div class="list-text">{{ 'tn774c0849' | t }}</div>
            </li>
            <li>
              <div class="list-text">{{ 'tn361a52dc' | t }}</div>
            </li>
            <li>
              <div class="list-text">{{ 't3675f0fe' | t }}</div>
            </li>
          </ul>
        </div>
        <div id="w-node-f637bbff-835b-0236-4124-4ac1eef82ac3-dbe247f4" class="style-guide-category">
          <div>{{ 't3e43f43' | t }}</div>
        </div>
        <div id="w-node-_826fbc41-7f9a-f875-b76e-3e9c3ff2002b-dbe247f4" class="style-guide-edit-wrap">
          <div class="style-guide-edit">{{ 't20e22a' | t }}</div>
          <p>{{ 't194fe5fb' | t }}<strong>{{ 'tn65673932' | t }}</strong>{{ 'tn2a43b5fb' | t }}</p>
        </div>
        <div id="w-node-ed82fd76-b394-3b31-d285-0d24c40a28ca-dbe247f4">
          <div id="w-node-_11717b33-079b-321a-8523-e173de28bfe2-dbe247f4" class="style-guide-color-wrap">
            <h4 class="light-text">{{ 'tn558fd1c7' | t }}</h4>
          </div>
          <div class="style-guide-color-wrap primary-color-background">
            <h4 class="light-text">{{ 't2e305a' | t }}</h4>
          </div>
          <div class="style-guide-color-wrap secondary-color-background">
            <h4>{{ 'tn614358c4' | t }}</h4>
          </div>
          <div class="style-guide-color-wrap mid-grey-color-background">
            <h4 class="light-text">{{ 't1b891' | t }}</h4>
          </div>
          <div class="style-guide-color-wrap light-grey-color-background">
            <h4>{{ 't5eacc087' | t }}</h4>
          </div>
          <div class="style-guide-color-wrap _1">
            <h4>{{ 'td477' | t }}</h4>
          </div>
          <div class="style-guide-color-wrap _2">
            <h4>{{ 'td0b6' | t }}</h4>
          </div>
          <div class="style-guide-color-wrap _3">
            <h4>{{ 'tccf5' | t }}</h4>
          </div>
          <div class="style-guide-color-wrap _4">
            <h4>{{ 'tc934' | t }}</h4>
          </div>
          <div class="style-guide-color-wrap _5">
            <h4>{{ 'tc573' | t }}</h4>
          </div>
          <div class="style-guide-color-wrap _6">
            <h4>{{ 'tc1b2' | t }}</h4>
          </div>
          <div class="style-guide-color-wrap _8">
            <h4>{{ 'tbdf1' | t }}</h4>
          </div>
          <div class="style-guide-color-wrap _9">
            <h4>{{ 't1db04457' | t }}</h4>
          </div>
        </div>
        <div id="w-node-e383549d-c8b3-87cd-ee42-73f99aa01117-dbe247f4" class="style-guide-category">
          <div>{{ 't719b5761' | t }}</div>
        </div>
        <div id="w-node-_55db6e40-b97b-9254-09df-2929df1b67ad-dbe247f4" class="style-guide-edit-wrap">
          <div class="style-guide-edit">{{ 't20e22a' | t }}</div>
          <p>{{ 'tn55e7b54b' | t }}<span class="style-guide-class">{{ 't77471352' | t }}</span>{{ 't4bd6edd6' | t }}</p>
          <p>{{ 't1f827578' | t }}<span class="style-guide-class">{{ 'tn474c790' | t }}</span>{{ 't4bd6edd6' | t }}</p>
          <p>{{ 'tn22644d' | t }}<span class="style-guide-class tag-class">{{ 't45fadbba' | t }}</span>{{ 't3c40bd58' | t }}</p>
          <p>{{ 'tn1dd08d50' | t }}<span class="style-guide-class">{{ 'tn27f58cf0' | t }}</span>{{ 't309bcb74' | t }}</p>
        </div>
        <div id="w-node-_8a96fce1-c74f-35f2-c6f4-3587e7d0e79a-dbe247f4" class="style-guide-grid-item-wrap">
          {%- section 'button-standard' -%}
          {%- section 'button_big_redoutline' -%}
          {%- section 'button-big-and-allwhite' -%}
          {%- section 'button_normal-and-allwhite' -%}
          {%- section 'button_normal-and-red' -%}
          {%- section 'button_big-and-allred' -%}
          {%- render 'button_normal-and-allred' -%}
          {%- section 'button-small-and-allred' -%}
          {%- section 'button_small-and-redoutline' -%}
          {%- section 'button_normal-and-white' -%}
          {%- section 'button_small-and-white' -%}
          <a id="w-node-_43c1f3b7-6eb4-f5de-d46d-db497eae499e-dbe247f4" href="#" class="button small-white w-inline-block">
            <div class="_14sb-button">{{ 'tn544d7e4a' | t }}</div><img src="{{ 'arrow_right.svg' | asset_url }}" loading="lazy" alt="" class="button_arrow extrasmall">
          </a>
          {%- section 'button-big-and-white' -%}
          {%- section 'link_standard' -%}
          {%- section 'link_small' -%}
          {%- section 'link_small-and-inverted' -%}
        </div>
        <div id="w-node-_18765f94-c4e6-c755-ac1d-a3de06ce4dbc-dbe247f4" class="style-guide-category">
          <div>{{ 't3ff940f' | t }}</div>
        </div>
        <div id="w-node-_91cfe370-0245-0733-cc80-e0128461d2a5-dbe247f4" class="style-guide-edit-wrap">
          <div class="style-guide-edit">{{ 't20e22a' | t }}</div>
          <p>{{ 'tn252b692d' | t }}<span class="style-guide-class">{{ 't2180e4' | t }}</span> </p>
        </div>
        <div id="w-node-_983a314a-baad-360b-c27c-560bd790abd0-dbe247f4" class="style-guide-grid-item-wrap">
          <div id="w-node-dec986e8-2989-ac3d-9697-51959cdb817b-dbe247f4" class="w-form">
            {%- form "contact",  class: "contact_form" -%}<label for="contact[email]">{{ 't3ff5b7c' | t }}</label><input type="email" name="contact[email]" class="w-input" required="">
              <div id="w-node-_4b497fc4-47b3-a89a-0e6a-79160fc2412d-dbe247f4" class="form_holder_div"><label for="name-2" id="w-node-d32826e8-59df-5742-ef87-d33633921be1-dbe247f4" class="form-lable">{{ 'tn318d5e9b' | t }}<span class="star">{{ 't2a' | t }}</span></label><input type="text" class="form-field w-input" maxlength="256" name="contact[name]" data-name="Name" placeholder="Example Text" id="name"></div>
              <div id="w-node-d851ebee-c1f9-f7bd-68a9-8d0544b7d098-dbe247f4" class="form_holder_div"><label for="contact[name_]" id="w-node-d851ebee-c1f9-f7bd-68a9-8d0544b7d099-dbe247f4" class="form-lable">{{ 'tn1416662b' | t }}</label><input type="text" class="form-field w-input" maxlength="256" name="contact[name_]" data-name="Name 3" placeholder="Example Text" id="name-3"></div>
              <div id="w-node-b662f19b-5436-1708-0a52-ceac4f9705e3-dbe247f4" class="form_holder_div"></div>
              <div id="w-node-cbfc12af-f799-65ac-3c11-4e8188676fba-dbe247f4" class="form_holder_div"><label for="name-5" id="w-node-cbfc12af-f799-65ac-3c11-4e8188676fbb-dbe247f4" class="form-lable">{{ 'tn7433b8e9' | t }}</label></div>
              <div id="w-node-f8ffc198-16fd-d55a-8003-5564b73cbb60-dbe247f4" class="form_holder_div"><textarea placeholder="Example Text" maxlength="5000" id="field-2" name="contact[field_]" data-name="field" class="form-field form-text-area w-input"></textarea></div><select id="field" name="contact[field]" data-name="Field" class="form-field form-select w-node-_45406954-d6b4-e261-9aaa-1ac1b6355531-dbe247f4 w-select">
                <option value="">{{ 't57f3b1cc' | t }}</option>
                <option value="First">{{ 'tn12801ecf' | t }}</option>
                <option value="Second">{{ 't72dc86ad' | t }}</option>
                <option value="Third">{{ 't1b66029a' | t }}</option>
              </select><label id="w-node-ae817b4a-674d-954e-8f50-d4ebd6edb4ae-dbe247f4" class="w-checkbox checkbox-field">
                <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div><input type="checkbox" id="checkbox" name="contact[checkbox]" data-name="Checkbox" style="opacity:0;position:absolute;z-index:-1"><span class="w-form-label" for="checkbox">{{ 't5f757fe3' | t }}</span>
              </label><label class="w-radio">
                <div class="w-form-formradioinput w-form-formradioinput--inputType-custom checkbox w-radio-input"></div><input type="radio" data-name="Radio" id="radio" name="contact[radio]" value="Radio" style="opacity:0;position:absolute;z-index:-1"><span class="w-form-label" for="radio">{{ 't4b123db' | t }}</span>
              </label><input type="submit" value="Submit" data-wait="Please wait..." id="w-node-dec986e8-2989-ac3d-9697-51959cdb8183-dbe247f4" class="button big-allred w-button">
            {%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
            <div class="w-form-done  {% if form_success %}form-posted-successfully{% endif %}">
              <div>{{ 't5a0ea5a1' | t }}</div>
            </div>
            {%- unless form_success -%}<div class="w-form-fail  {% if form.errors %}form-has-errors{% endif %}">
              <div>{%- render "form-errors", form_errors: form_errors -%}</div>
            </div>{%- endunless -%}
          </div>
        </div>
        <div id="w-node-_539debc5-c3bf-e500-5373-a3259d80206f-dbe247f4" class="style-guide-category">
          <div>{{ 'tn62284ed3' | t }}</div>
        </div>
        <div id="w-node-aecd07ed-cd8b-1716-e906-11a45aa52757-dbe247f4" class="style-guide-edit-wrap">
          <div class="style-guide-edit">{{ 't20e22a' | t }}</div>
          <p>{{ 'tn40604944' | t }}<span class="style-guide-class">{{ 't209938e9' | t }}</span>{{ 't3c40bd58' | t }}</p>
        </div>
        <div id="w-node-_432c5549-5a58-4527-4926-71dbf8e6a1d1-dbe247f4" class="style-guide-layout-demo section-padding">
          <div id="w-node-_165d79eb-b2a5-28c4-eb36-16dde57c961e-dbe247f4" class="style-guide-white-div">
            <p>{{ 'tn1e4db6ea' | t }}</p>
            <p>{{ 'tn1025d801' | t }}<span class="style-guide-class">{{ 't209938e9' | t }}</span>{{ 'tn6b89939' | t }}</p>
          </div>
        </div>
        <div id="w-node-bca97c44-ed2a-c4d2-234a-6c62ee4dc6b5-dbe247f4" class="style-guide-category">
          <div>{{ 'tn712b6e99' | t }}</div>
        </div>
        <div id="w-node-_65cb131a-038a-ef25-ea34-fb9ed9c178b0-dbe247f4" class="style-guide-edit-wrap">
          <div class="style-guide-edit">{{ 't20e22a' | t }}</div>
          <p>{{ 'tn569b8e57' | t }}<strong>{{ 't23717fec' | t }}</strong>{{ 't3cf31de4' | t }}</p>
          <p>{{ 'tn108b7e6' | t }}</p>
          <p>{{ 'tn731edbee' | t }}<span class="style-guide-element">{{ 't312ebe48' | t }}</span>{{ 'tn6e8e75c8' | t }}</p>
          <p>{{ 'tn2714ec90' | t }}<strong>{{ 't48c43769' | t }}</strong><strong></strong>{{ 'tn1caa9e47' | t }}</p>
          <a data-w-id="9d63daec-eb28-ba0b-87c9-d50f72ec9dbf" href="#" class="button w-button">{{ 't32953756' | t }}</a>
        </div>
        <div id="w-node-_50c4eecd-635c-c0cb-6b83-c35774246b79-dbe247f4" class="style-guide-wrap">
          <div class="style-guide-popup-wrap">
            {%- section 'popup-content' -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="opacity:0" class="popup-background-wrap">
    <div style="opacity:0;-webkit-transform:translate3d(0, 121px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 121px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 121px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 121px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="popup-wrap">
      {%- section 'popup-content' -%}
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6287bb88d050e6c7bbe247e8" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}<script type="module">import*as UdeslyBanner from"https://cdn.jsdelivr.net/npm/udesly-ad-banner@0.0.1/loader/index.js";UdeslyBanner.defineCustomElements(),document.body.append(document.createElement("udesly-banner"));</script>