{%- assign headerSnippetPath = "header-pagestyle-guide" -%}{%- assign wfPage = "62a889d36563c3aef1f6affb" -%}{%- assign bodyClasses = "" -%}
  <div class="section-padding wf-section">
    <div class="gloss-helppop-up">
      <div class="icon-close"><img src="{{ 'close_1.svg' | asset_url }}" loading="lazy" width="40" height="40" alt="" class="close-popup-white"><img src="{{ 'close_1.svg' | asset_url }}" loading="lazy" width="30" height="30" alt="" class="close-popup-white-mobile"></div>
      <div class="gloss-guide">
        <h3 class="h3-white popup">{{ 'tn4fc75fad' | t }}</h3>
        <div class="w-layout-grid grid-gloss-guide">
          <div id="w-node-_28b8b0d5-d154-e3c5-2b8e-ab0ef0d8f791-f1f6affb" class="card-guide current">
            <div class="_20eb">{{ 'tn201d41f3' | t }}</div>
            <div class="_14reg blue mtop20">{{ 'tn2c56605e' | t }}</div>
            <div class="_14b-caps martel mtop20">{{ 'tn39f7760c' | t }}</div>
            <div class="_14reg blue mtop10">{{ 'tn7f8b0e8b' | t }}</div>
            <div class="_14reg blue mtop10">{{ 't75f85a1f' | t }}</div>
            <div class="_14reg blue mtop10">{{ 'tnf78f24c' | t }}</div>
            <div class="current-selection">
              <div class="_12b-caps white">{{ 'tn1b9d705b' | t }}</div>
            </div>
          </div>
          <div id="w-node-cc986cdc-aed9-45d5-100b-682c885e8727-f1f6affb" class="card-guide">
            <div class="_20eb">{{ 'tn33a42190' | t }}</div>
            <div class="_14reg blue mtop20">{{ 'tn2c56605e' | t }}</div>
            <div class="_14b-caps martel mtop20">{{ 'tn39f7760c' | t }}</div>
            <div class="_14reg blue mtop10">{{ 'tn7f8b0e8b' | t }}</div>
            <div class="_14reg blue mtop10">{{ 't75f85a1f' | t }}</div>
            <div class="_14reg blue mtop10">{{ 'tnf78f24c' | t }}</div>
          </div>
          <div id="w-node-_32b21a38-f521-443c-a761-6a8170d785ad-f1f6affb" class="card-guide">
            <div class="_20eb">{{ 'tn1454c086' | t }}</div>
            <div class="_14reg blue mtop20">{{ 'tn2c56605e' | t }}</div>
            <div class="_14b-caps martel mtop20">{{ 'tn39f7760c' | t }}</div>
            <div class="_14reg blue mtop10">{{ 'tn7f8b0e8b' | t }}</div>
            <div class="_14reg blue mtop10">{{ 't75f85a1f' | t }}</div>
            <div class="_14reg blue mtop10">{{ 'tnf78f24c' | t }}</div>
          </div>
          <div id="w-node-e23d0ec8-278b-d286-019f-9d81351f39f6-f1f6affb" class="card-guide">
            <div class="_20eb">{{ 't38b3df33' | t }}</div>
            <div class="_14reg blue mtop20">{{ 'tn2c56605e' | t }}</div>
            <div class="_14b-caps martel mtop20">{{ 'tn39f7760c' | t }}</div>
            <div class="_14reg blue mtop10">{{ 'tn7f8b0e8b' | t }}</div>
            <div class="_14reg blue mtop10">{{ 't75f85a1f' | t }}</div>
            <div class="_14reg blue mtop10">{{ 'tnf78f24c' | t }}</div>
          </div>
          <div id="w-node-_06b62e2f-28b2-3120-c240-331cd201b206-f1f6affb" class="card-guide">
            <div class="_20eb">{{ 't4d3b0ba2' | t }}</div>
            <div class="_14reg blue mtop20">{{ 'tn2c56605e' | t }}</div>
            <div class="_14b-caps martel mtop20">{{ 'tn39f7760c' | t }}</div>
            <div class="_14reg blue mtop10">{{ 'tn7f8b0e8b' | t }}</div>
            <div class="_14reg blue mtop10">{{ 't75f85a1f' | t }}</div>
            <div class="_14reg blue mtop10">{{ 'tnf78f24c' | t }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="separasjon wf-section"></div>
  <div class="section-padding wf-section">
    <div class="paint-size-calculator yes_default">
      <div class="icon-close"><img src="{{ 'close_1.svg' | asset_url }}" loading="lazy" width="40" height="40" alt="" class="close-popup-white"><img src="{{ 'close_1.svg' | asset_url }}" loading="lazy" width="30" height="30" alt="" class="close-popup-white-mobile"></div>
      <div class="size-calculator">
        <h3 class="h3-white center popup">{{ 'tn1170f06e' | t }}</h3>
        <div class="_20sb-martel white mtop60">{{ 't494e0322' | t }}</div>
        <div class="btn-switcher">
          <a data-w-id="ebd593e2-ce0c-8b88-b9e1-08c5a3a87373" style="background-color:rgb(230,22,59)" href="#" class="button-10 w-button"><span class="_18eb-caps-button">{{ 't1d2e7' | t }}</span></a>
          <a data-w-id="6d350a1e-180d-4d2e-b540-e5ba284344ea" style="background-color:rgb(107,105,210)" href="#" class="button-9 w-button"><span class="_18eb-caps-button">{{ 't9c1' | t }}</span></a>
        </div>
        <div style="display:block" class="form-calculation w-form">
          {%- form "contact",  class: "form-yesdefault" -%}<label for="contact[email]">{{ 't3ff5b7c' | t }}</label><input type="email" name="contact[email]" class="w-input" required="">
            <div class="size-input"><label for="contact[name]" class="_20sb-martel white botton20">{{ 't5aada4ad' | t }}</label></div>
            <div class="content-size-input"><input type="text" class="text-field-3 w-input" maxlength="256" name="contact[name]" data-name="Name" placeholder="" id="name"><label for="name-2" class="_20sb-martel white">{{ 'td65' | t }}</label></div>
          {%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
          <div class="w-form-done  {% if form_success %}form-posted-successfully{% endif %}">
            <div>{{ 't5a0ea5a1' | t }}</div>
          </div>
          {%- unless form_success -%}<div class="w-form-fail  {% if form.errors %}form-has-errors{% endif %}">
            <div>{%- render "form-errors", form_errors: form_errors -%}</div>
          </div>{%- endunless -%}
        </div>
        <div style="display:none" class="form-calculation-2 w-form">
          <div class="_20sb-martel white center-60-20">{{ 'tn20222950' | t }}</div>
          {%- form "contact",  class: "form-nodefault twocolumn" -%}<label for="contact[email]">{{ 't3ff5b7c' | t }}</label><input type="email" name="contact[email]" class="w-input" required="">
            <div id="w-node-_07c77297-6d5c-bcaf-b478-5e556e455c6e-f1f6affb" class="content-size-input2">
              <div class="size-input"><label for="name-3" class="_14b white martel">{{ 'tn659388c6' | t }}<span class="text-span-9">{{ 't2a' | t }}</span></label>
                <div class="content-size-input"><input type="text" class="text-field-3 w-input" maxlength="256" name="contact[name_]" data-name="Name 2" placeholder="" id="name-2"><label for="name-3" class="_16reg white clear">{{ 't6d' | t }}</label></div>
              </div>
            </div>
            <div id="w-node-_07c77297-6d5c-bcaf-b478-5e556e455c78-f1f6affb" class="content-size-input2">
              <div class="size-input"><label for="name-3" class="_14b white martel">{{ 'tn6cedd447' | t }}<span class="text-span-9">{{ 't2a' | t }}</span></label></div>
              <div class="content-size-input"><label for="name-3" class="_16reg white clear">{{ 't6d' | t }}</label></div>
            </div>
            <div id="w-node-_07c77297-6d5c-bcaf-b478-5e556e455c82-f1f6affb" class="content-size-input2">
              <div class="size-input"><label for="name-3" class="_14b white martel">{{ 'tn7ad22a2d' | t }}</label></div>
              <div class="content-size-input"></div>
            </div>
            <div class="content-size-input2">
              <div class="size-input"><label for="name-3" class="_14b white martel">{{ 'tn2c2b75af' | t }}</label></div>
              <div class="content-size-input"></div>
            </div>
          {%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
          <div class="_14b white martel mtop10">{{ 'tn13b70d84' | t }}</div>
          <div class="w-form-done  {% if form_success %}form-posted-successfully{% endif %}">
            <div>{{ 't5a0ea5a1' | t }}</div>
          </div>
          {%- unless form_success -%}<div class="w-form-fail  {% if form.errors %}form-has-errors{% endif %}">
            <div>{%- render "form-errors", form_errors: form_errors -%}</div>
          </div>{%- endunless -%}
        </div>
        <div class="recommended">
          <div class="_24eb white">{{ 'tn33c01922' | t }}</div>
          <div class="_24eb white">{{ 'tn2ab6e2a1' | t }}</div>
        </div>
        <div class="remember">
          <div class="_16reg white center"><span class="_16b-caps white">{{ 'tn682fa874' | t }}</span>{{ 't40c78cf5' | t }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="separasjon wf-section"></div>
  <div class="section-padding wf-section">
    <div class="primer-size-calculator yes_default">
      <div class="icon-close"><img src="{{ 'close_1.svg' | asset_url }}" loading="lazy" width="40" height="40" alt="" class="close-popup-white"><img src="{{ 'close_1.svg' | asset_url }}" loading="lazy" width="30" height="30" alt="" class="close-popup-white-mobile"></div>
      <div class="size-calculator">
        <h3 class="h3-white center popup">{{ 't67310c15' | t }}</h3>
        <div class="_20sb-martel white mtop60">{{ 'tn5ca77c4f' | t }}</div>
        <div class="btn-switcher">
          <a data-w-id="c8e7d68c-8b68-2695-3d3d-170cf96707d8" style="background-color:rgb(230,22,59)" href="#" class="button-10 w-button"><span class="_18eb-caps-button">{{ 't1d2e7' | t }}</span></a>
          <a data-w-id="c8e7d68c-8b68-2695-3d3d-170cf96707db" style="background-color:rgb(107,105,210)" href="#" class="button-9 w-button"><span class="_18eb-caps-button">{{ 't9c1' | t }}</span></a>
        </div>
        <div style="display:block" class="form-calculation-primer w-form">
          {%- form "contact",  class: "form-yesdefault-primer" -%}<label for="contact[email]">{{ 't3ff5b7c' | t }}</label><input type="email" name="contact[email]" class="w-input" required="">
            <div class="size-input"><label for="contact[name_]" class="_20sb-martel white botton20">{{ 'tn24a9fec4' | t }}</label></div>
            <div class="content-size-input"><input type="text" class="text-field-3 w-input" maxlength="256" name="contact[name_]" data-name="Name 3" placeholder="" id="name-3"><label for="contact[name_]" class="_20sb-martel white">{{ 'td65' | t }}</label></div>
          {%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
          <div class="w-form-done  {% if form_success %}form-posted-successfully{% endif %}">
            <div>{{ 't5a0ea5a1' | t }}</div>
          </div>
          {%- unless form_success -%}<div class="w-form-fail  {% if form.errors %}form-has-errors{% endif %}">
            <div>{%- render "form-errors", form_errors: form_errors -%}</div>
          </div>{%- endunless -%}
        </div>
        <div style="display:none" class="form-calculation-2primer w-form">
          <div class="_20sb-martel white center-60-20">{{ 'tn6d0d7198' | t }}</div>
          {%- form "contact",  class: "form-nodefault twocolumn" -%}<label for="contact[email]">{{ 't3ff5b7c' | t }}</label><input type="email" name="contact[email]" class="w-input" required="">
            <div id="w-node-c8e7d68c-8b68-2695-3d3d-170cf96707f1-f1f6affb" class="content-size-input2">
              <div class="size-input"><label for="name-3" class="_14b white martel">{{ 'tn659388c6' | t }}<span class="text-span-9">{{ 't2a' | t }}</span></label>
                <div class="content-size-input"><input type="text" class="text-field-3 w-input" maxlength="256" name="contact[name_]" data-name="Name 2" placeholder="" id="name-2"><label for="name-3" class="_16reg white clear">{{ 't6d' | t }}</label></div>
              </div>
            </div>
            <div id="w-node-c8e7d68c-8b68-2695-3d3d-170cf96707fb-f1f6affb" class="content-size-input2">
              <div class="size-input"><label for="name-3" class="_14b white martel">{{ 'tn6cedd447' | t }}<span class="text-span-9">{{ 't2a' | t }}</span></label></div>
              <div class="content-size-input"><label for="name-3" class="_16reg white clear">{{ 't6d' | t }}</label></div>
            </div>
            <div id="w-node-c8e7d68c-8b68-2695-3d3d-170cf9670805-f1f6affb" class="content-size-input2">
              <div class="size-input"><label for="name-3" class="_14b white martel">{{ 'tn7ad22a2d' | t }}</label></div>
              <div class="content-size-input"></div>
            </div>
            <div class="content-size-input2">
              <div class="size-input"><label for="name-3" class="_14b white martel">{{ 'tn2c2b75af' | t }}</label></div>
              <div class="content-size-input"></div>
            </div>
          {%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
          <div class="_14b white martel mtop10">{{ 'tn13b70d84' | t }}</div>
          <div class="w-form-done  {% if form_success %}form-posted-successfully{% endif %}">
            <div>{{ 't5a0ea5a1' | t }}</div>
          </div>
          {%- unless form_success -%}<div class="w-form-fail  {% if form.errors %}form-has-errors{% endif %}">
            <div>{%- render "form-errors", form_errors: form_errors -%}</div>
          </div>{%- endunless -%}
        </div>
        <div class="recommended">
          <div class="_24eb white">{{ 'tn33c01922' | t }}</div>
          <div class="_24eb white">{{ 'tn2ab6e2a1' | t }}</div>
        </div>
        <div class="remember">
          <div class="_16reg white center"><span class="_16b-caps white">{{ 'tn682fa874' | t }}</span>{{ 't1a018684' | t }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="separasjon wf-section"></div>
  <div class="section-padding wf-section">
    <div class="add-to-cart-conf-popup"><img src="{{ 'close.svg' | asset_url }}" loading="lazy" width="40" height="40" alt="" class="close-popup-blue"><img src="{{ 'close.svg' | asset_url }}" loading="lazy" width="30" height="30" alt="" class="close-popup-blue-mobile">
      <div class="add-to-cart_confirmation"><img src="{{ 'label_done.svg' | asset_url }}" loading="lazy" alt="">
        <div class="_24eb center">{{ 't3ac1c95d' | t }}</div>
      </div>
      <div class="div-block-46">
        <div shortcode="true">{{ 'tn5319bfcb' | t }}</div>
      </div>
      <div class="block-btn">
        {%- render 'button_normal-and-allred' -%}
        {%- section 'button_normal-and-red' -%}
      </div>
      <div class="cards-tool-popup">
        <div class="content-cardtool">
          <h3 class="_24eb center">{{ 'tn2b33e285' | t }}</h3>
        </div>
        <div class="tools-card">
          {%- if settings.collection_pop_up != blank -%}{%- render "markup_for_collection_pop_up" -%}{%- else -%}{%- render "products_max_4_where_category_idin_categorytools_number_4" -%}{%- endif -%}
        </div>
      </div>
      <div class="gallery-l--popup shopcart-popup">
        <div class="w-layout-grid grid-13">
          <div id="w-node-a5011773-804f-fd4a-5189-c4d1bc496047-f1f6affb" class="text-content-2">
            <div class="red-lines-header">
              <div class="line left"></div>
              <p class="_18bi-caps-kanit center">{{ 'tn718a128e' | t }}</p>
              <div class="line right"></div>
            </div>
            <h3 class="h3-blue">{{ 'tn7d5a9958' | t }}</h3>
            <p class="_18reg mtop20">{{ 'tn794cb46f' | t }}</p>
            <div class="block-btn mtop60 home">
              {%- section 'button-small-and-allred' -%}
              {%- section 'button_small-and-redoutline' -%}
            </div>
          </div>
          <div id="w-node-a5011773-804f-fd4a-5189-c4d1bc496054-f1f6affb" class="pictures-2">
            <div class="image-column-card">
              <div data-w-id="a5011773-804f-fd4a-5189-c4d1bc496056" class="img01 big"><img src="{{ 'photo_1.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 71vw, (max-width: 1439px) 72vw, 880px" srcset="{{ 'photo_1-p-500.png' | asset_url }} 500w, {{ 'photo_1-p-800.png' | asset_url }} 800w, {{ 'photo_1-p-1080.png' | asset_url }} 1080w, {{ 'photo_1.png' | asset_url }} 1360w" alt="">
                <div style="opacity:0" class="overlay">
                  <div class="_20eb white">{{ 't5cb58f10' | t }}</div>
                  {%- section 'link_standard' -%}
                </div>
              </div>
              <div class="img-row b">
                <div data-w-id="a5011773-804f-fd4a-5189-c4d1bc49605d" class="img01 small2"><img src="{{ 'photo2.png' | asset_url }}" loading="lazy" alt="">
                  <div style="opacity:0" class="overlay">
                    <div class="_20eb white">{{ 't5cb58f10' | t }}</div>
                    {%- section 'link_standard' -%}
                  </div>
                </div>
                <div data-w-id="a5011773-804f-fd4a-5189-c4d1bc496063" class="img01 small2"><img src="{{ 'photo3.png' | asset_url }}" loading="lazy" alt="">
                  <div style="opacity:0" class="overlay">
                    <div class="_20eb white">{{ 't5cb58f10' | t }}</div>
                    {%- section 'link_standard' -%}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-l--popup shopcart-popup">
        <div class="w-layout-grid grid-13">
          <div id="w-node-_205df9f4-9317-629b-6084-9250a2a321fc-f1f6affb" class="text-content-2">
            <div class="red-lines-header">
              <div class="line left"></div>
              <p class="_18bi-caps-kanit center">{{ 'tn718a128e' | t }}</p>
              <div class="line right"></div>
            </div>
            <h3 class="h3-blue">{{ 'tn5e3e2deb' | t }}</h3>
            <p class="_18reg mtop20">{{ 'tn794cb46f' | t }}</p>
            <div class="block-btn mtop60 home">
              {%- section 'button-small-and-allred' -%}
              {%- section 'button_small-and-redoutline' -%}
            </div>
          </div>
          <div id="w-node-_205df9f4-9317-629b-6084-9250a2a32209-f1f6affb" class="pictures-2">
            <div class="image-column-card">
              <div data-w-id="205df9f4-9317-629b-6084-9250a2a3220b" class="img01 big"><img src="{{ 'photo4.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 71vw, (max-width: 1439px) 72vw, 880px" srcset="{{ 'photo4-p-500.png' | asset_url }} 500w, {{ 'photo4-p-800.png' | asset_url }} 800w, {{ 'photo4-p-1080.png' | asset_url }} 1080w, {{ 'photo4.png' | asset_url }} 1360w" alt="">
                <div style="opacity:0" class="overlay">
                  <div class="_20eb white">{{ 't5cb58f10' | t }}</div>
                  {%- section 'link_standard' -%}
                </div>
              </div>
              <div class="img-row b">
                <div data-w-id="205df9f4-9317-629b-6084-9250a2a32212" class="img01 small2"><img src="{{ 'photo5.png' | asset_url }}" loading="lazy" width="320" sizes="(max-width: 479px) 100vw, (max-width: 767px) 31vw, (max-width: 991px) 32vw, 320px" srcset="{{ 'photo5-p-500.png' | asset_url }} 500w, {{ 'photo5.png' | asset_url }} 640w" alt="">
                  <div style="opacity:0" class="overlay">
                    <div class="_20eb white">{{ 't5cb58f10' | t }}</div>
                    {%- section 'link_standard' -%}
                  </div>
                </div>
                <div data-w-id="205df9f4-9317-629b-6084-9250a2a32218" class="img01 small2"><img src="{{ 'photo6.png' | asset_url }}" loading="lazy" width="320" sizes="(max-width: 479px) 100vw, (max-width: 767px) 31vw, (max-width: 991px) 32vw, 320px" srcset="{{ 'photo6-p-500.png' | asset_url }} 500w, {{ 'photo6.png' | asset_url }} 640w" alt="">
                  <div style="opacity:0" class="overlay">
                    <div class="_20eb white">{{ 't5cb58f10' | t }}</div>
                    {%- section 'link_standard' -%}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6287bb88d050e6c7bbe247e8" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}<script type="module">import*as UdeslyBanner from"https://cdn.jsdelivr.net/npm/udesly-ad-banner@0.0.1/loader/index.js";UdeslyBanner.defineCustomElements(),document.body.append(document.createElement("udesly-banner"));</script>