{%- assign headerSnippetPath = "header-pagestyle-guide" -%}{%- assign wfPage = "629fc56b44e0d21b764125a0" -%}{%- assign bodyClasses = "" -%}
  <div class="section-header wf-section">
    {%- render 'navbar' -%}
  </div>
  <div class="section-padding wf-section">
    <div class="backtools">
      {%- section 'link_small-and-inverted' -%}
    </div>
  </div>
  <div class="form-block-4 w-form">
    {%- form "contact",  class: "form-5" -%}<label for="contact[email]">{{ 't3ff5b7c' | t }}</label><input type="email" name="contact[email]" class="w-input" required="">
      <div role="radiogroup" aria-label="add description here" class="fs-radio_group"><label class="fs-radio_label">{{ 't6674eefb' | t }}</label>
        <div class="fs-radio_column"><label class="fs-radio_field-4 w-radio">
            <div class="w-form-formradioinput w-form-formradioinput--inputType-custom fs-radio_button-4 w-radio-input"></div><input type="radio" name="contact[radio_]" id="Radio-A-4" value="Radio A" data-name="Radio 4" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="category" fs-cmsfilter-active="is-active" class="fs-radio_label-4 w-form-label" for="Radio-A-4">{{ 'tn677f9324' | t }}</span>
          </label><label class="fs-radio_field-4 is-active w-radio">
            <div class="w-form-formradioinput w-form-formradioinput--inputType-custom fs-radio_button-4 w-radio-input"></div><input type="radio" name="contact[radio_]" id="Radio-B-4" value="Radio B" data-name="Radio 4" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="category" fs-cmsfilter-active="is-active" class="fs-radio_label-4 w-form-label" for="Radio-B-4">{{ 'tn4242667a' | t }}</span>
          </label><label class="fs-radio_field-4 is-active w-radio">
            <div class="w-form-formradioinput w-form-formradioinput--inputType-custom fs-radio_button-4 w-radio-input"></div><input type="radio" name="contact[radio_]" id="Radio-B-4" value="Radio B" data-name="Radio 4" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="category" fs-cmsfilter-active="is-active" class="fs-radio_label-4 w-form-label" for="Radio-B-4">{{ 'tn6ec5e4be' | t }}</span>
          </label><label class="fs-radio_field-4 is-active w-radio">
            <div class="w-form-formradioinput w-form-formradioinput--inputType-custom fs-radio_button-4 w-radio-input"></div><input type="radio" name="contact[radio_]" id="Radio-B-4" value="Radio B" data-name="Radio 4" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="category" fs-cmsfilter-active="is-active" class="fs-radio_label-4 w-form-label" for="Radio-B-4">{{ 't220b18' | t }}</span>
          </label><label class="fs-radio_field-4 is-active w-radio">
            <div class="w-form-formradioinput w-form-formradioinput--inputType-custom fs-radio_button-4 w-radio-input"></div><input type="radio" name="contact[radio_]" id="Radio-B-4" value="Radio B" data-name="Radio 4" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="category" fs-cmsfilter-active="is-active" class="fs-radio_label-4 w-form-label" for="Radio-B-4">{{ 'tn756ab363' | t }}</span>
          </label></div>
      </div><input type="submit" value="Submit" data-wait="Please wait..." class="w-button">
    {%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
    <div class="w-form-done  {% if form_success %}form-posted-successfully{% endif %}">
      <div>{{ 't5a0ea5a1' | t }}</div>
    </div>
    {%- unless form_success -%}<div class="w-form-fail  {% if form.errors %}form-has-errors{% endif %}">
      <div>{%- render "form-errors", form_errors: form_errors -%}</div>
    </div>{%- endunless -%}
  </div>
  <div class="section-padding wf-section">
    <div class="paint-order-grid">
      <div class="w-layout-grid grid-13-2">
        <div id="w-node-f2948394-8fbd-aa18-a85a-b59f7ab70011-764125a0" class="text-content-3">
          <h1 class="h2-blue">{{ 'tn592c79b2' | t }}</h1>
          <p class="_18reg">{{ 't12b0bc08' | t }}</p>
          <div class="separator"></div>
          <p class="_20eb center">{{ 'tn1d90446d' | t }}</p>
          <div class="separator"></div>
          <div class="w-form">
            {%- form "contact",  class: "" -%}<label for="contact[email]">{{ 't3ff5b7c' | t }}</label><input type="email" name="contact[email]" class="w-input" required="">
              <p class="_20eb mtop80">{{ 'tn31dd0d90' | t }}</p>
              <div class="w-layout-grid gridfilteroptions">
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 'tn677f9324' | t }}</p>
                </div>
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 'tn4242667a' | t }}</p>
                </div>
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 'tn6ec5e4be' | t }}</p>
                </div>
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 't220b18' | t }}</p>
                </div>
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 'tn756ab363' | t }}</p>
                </div>
              </div>
              <p class="_20eb mtop150">{{ 'tn25e0449a' | t }}</p>
              <div class="w-layout-grid gridfilteroptions">
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 't277cd1' | t }}</p>
                </div>
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 't1248a8f' | t }}</p>
                </div>
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 'tn6ec5e4be' | t }}</p>
                </div>
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 't422e14e2' | t }}</p>
                </div>
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 't4e922cb0' | t }}</p>
                </div>
              </div>
              <div class="form-walls-colors-start">
                <p class="_20eb mtop150">{{ 'tn7fabad48' | t }}</p>
                <div class="mtop40 w-dyn-list">
                  {%- unless items_length == 0 -%}<div role="list" class="collection-list-11 w-dyn-items">
                    <div role="listitem" class="collectioncomplementary w-dyn-item">
                      <div class="circlepallete green-shades" style="background-color: {{item.metafields.udesly['color']}}"></div>
                    </div>
                  </div>{%- endunless -%}
                  {%- if items_length == 0 -%}<div class="w-dyn-empty">
                    <div>{{ 't3d503d2b' | t }}</div>
                  </div>{%- endif -%}
                </div>
                <p class="_20eb mtop40">{{ 't17769597' | t }}</p><img loading="lazy" src="{{ 'label_done_1.svg' | asset_url }}" alt="" class="image-38">
                <div class="mtop40 w-dyn-list">
                  {%- unless items_length == 0 -%}<div role="list" class="collection-list-11 w-dyn-items">
                    <div role="listitem" class="collectioncomplementary w-dyn-item">
                      <div class="circlepallete green-shades" style="background-color: {{item.metafields.udesly['color']}}"></div>
                    </div>
                  </div>{%- endunless -%}
                  {%- if items_length == 0 -%}<div class="w-dyn-empty">
                    <div>{{ 't3d503d2b' | t }}</div>
                  </div>{%- endif -%}
                </div>
                <p class="_20eb mtop40">{{ 't3d7aa316' | t }}</p>
                <div class="mtop40 w-dyn-list">
                  {%- unless items_length == 0 -%}<div role="list" class="collection-list-11 w-dyn-items">
                    <div role="listitem" class="collectioncomplementary w-dyn-item">
                      <div class="circlepallete green-shades" style="background-color: {{item.metafields.udesly['color']}}"></div>
                    </div>
                  </div>{%- endunless -%}
                  {%- if items_length == 0 -%}<div class="w-dyn-empty">
                    <div>{{ 't3d503d2b' | t }}</div>
                  </div>{%- endif -%}
                </div>
                <a href="#" class="button-5 w-button">{{ 't32eab18b' | t }}</a>
              </div>
              <p class="_20eb mtop150">{{ 't7b279908' | t }}</p>
              <div class="w-layout-grid gridfilteroptions">
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 't49519e4' | t }}</p>
                </div>
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 't45cad613' | t }}</p>
                </div>
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 'tn30a7d21e' | t }}</p>
                </div>
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 't276d1c' | t }}</p>
                </div>
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 't4d11365' | t }}</p>
                </div>
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 't471eca0a' | t }}</p>
                </div>
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 't1298f' | t }}</p>
                </div>
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 'tn1ee0095b' | t }}</p>
                </div>
              </div>
              <div class="surface-gloss">
                <p class="_20eb mtop150">{{ 't480247bf' | t }}</p>
                <a href="#" class="button-6 w-button">{{ 't6e6850b2' | t }}</a>
              </div>
              <div class="w-layout-grid gridfilteroptions">
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 'tn201d41f3' | t }}</p>
                </div>
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 'tn33a42190' | t }}</p>
                </div>
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 'tn1454c086' | t }}</p>
                </div>
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 't38b3df33' | t }}</p>
                </div>
                <div class="btn-size-type fixedsize">
                  <p class="filteroptiontext">{{ 't4d3b0ba2' | t }}</p>
                </div>
              </div>
              <p class="_20eb mtop150">{{ 't4d3dcefb' | t }}</p>
              <p class="_18reg">{{ 't759d966b' | t }}</p>
              <div id="w-node-_65df21c6-ddf9-e3ea-aa49-b13e21abfb6c-764125a0" class="collection-list-wrapper-21 w-dyn-list">
                {%- unless items_length == 0 -%}<div role="list" class="collection-list-15 w-dyn-items">
                  <div role="listitem" class="collection-item-18 w-dyn-item"><img loading="lazy" src="{{ item.featured_image | img_url: 'master' }}" alt="{{ item.featured_image.alt }}" data-commerce-type="variation-image" srcset="{{ item.featured_image | img_url: '1920x' }} 1920w,{{ item.featured_image | img_url: '1600x' }} 1600w,{{ item.featured_image | img_url: '1366x' }} 1366w,{{ item.featured_image | img_url: '1024x' }} 1024w,{{ item.featured_image | img_url: '768x' }} 768w,{{ item.featured_image | img_url: '640x' }} 640w">
                    <div class="_20eb center mtop10 lightblue">{{ item.title }}</div>
                    <div class="_14reg blue center mtop10">{{ 't665cc3ae' | t }}</div>
                    <div class="_14reg blue center mtop10">{{ 'tn7ec4cc2c' | t }}</div>
                    <div class="_14reg blue center mtop10">{{ 'tn64c41988' | t }}</div>
                    <div class="cost">
                      <div class="_14reg lightblue mclear">{{ 't112f7' | t }}</div>
                      <div data-commerce-type="variation-price" class="_20eb">{{ item.price | money }}</div>
                      <div class="_14reg lightblue mclear">{{ 'tncfca5ad' | t }}</div>
                    </div>
                  </div>
                </div>{%- endunless -%}
                {%- if items_length == 0 -%}<div class="w-dyn-empty">
                  <div>{{ 't3d503d2b' | t }}</div>
                </div>{%- endif -%}
              </div>
              <div class="quantity-size">
                <p class="_20eb mtop150">{{ 't65551c0' | t }}</p>
                <a href="#" class="button-6 w-button">{{ 'tn6b2b5b6e' | t }}</a>
              </div>
              <div class="w-layout-grid grid-quantity-size">
                <div id="w-node-a72f6be0-c568-55ae-98fa-57ac8666906b-764125a0" data-w-id="a72f6be0-c568-55ae-98fa-57ac8666906b" class="size1"><img loading="lazy" src="{{ 'red-bucket.svg' | asset_url }}" alt="" class="abs-2"><img loading="lazy" src="{{ 'blue-bucket.svg' | asset_url }}" alt="" class="image-40">
                  <div class="_16b-caps blue center">{{ 't5b0ce0b5' | t }}</div>
                  <div class="_20eb center mtop10">{{ 'tn79aec464' | t }}</div>
                  <div class="btn-quantity">
                    <p class="filteroptiontext">{{ 't4204e' | t }}</p>
                    <p class="filteroptiontext">{{ 't60f' | t }}</p>
                    <p class="filteroptiontext">{{ 't2b' | t }}</p>
                  </div>
                </div>
                <div id="w-node-_89b75945-05dc-73ce-3d20-3eb9324d60df-764125a0" data-w-id="89b75945-05dc-73ce-3d20-3eb9324d60df" class="size1"><img loading="lazy" src="{{ 'red-bucket.svg' | asset_url }}" alt="" class="abs-2"><img loading="lazy" src="{{ 'blue-bucket.svg' | asset_url }}" alt="" class="image-40">
                  <div class="_16b-caps blue center">{{ 'tn3b26a8c9' | t }}</div>
                  <div class="_20eb center mtop10">{{ 'tn79aebfcd' | t }}</div>
                  <div class="btn-quantity">
                    <p class="filteroptiontext">{{ 't4204e' | t }}</p>
                    <p class="filteroptiontext">{{ 't60f' | t }}</p>
                    <p class="filteroptiontext">{{ 't2b' | t }}</p>
                  </div>
                </div>
                <div id="w-node-_2173fa23-b6d1-a188-a4cc-af68f23ff223-764125a0" data-w-id="2173fa23-b6d1-a188-a4cc-af68f23ff223" class="size1"><img loading="lazy" src="{{ 'red-bucket.svg' | asset_url }}" alt="" class="abs-2"><img loading="lazy" src="{{ 'blue-bucket.svg' | asset_url }}" alt="" class="image-40">
                  <div class="_16b-caps blue center">{{ 't2ea5cdb9' | t }}</div>
                  <div class="_20eb center mtop10">{{ 'tn79aeb924' | t }}</div>
                  <div class="btn-quantity">
                    <p class="filteroptiontext">{{ 't4204e' | t }}</p>
                    <p class="filteroptiontext">{{ 't60f' | t }}</p>
                    <p class="filteroptiontext">{{ 't2b' | t }}</p>
                  </div>
                </div>
                <div id="w-node-acd835bd-9aee-81a2-43d4-faf390caf84c-764125a0" data-w-id="acd835bd-9aee-81a2-43d4-faf390caf84c" class="size1"><img loading="lazy" src="{{ 'red-bucket.svg' | asset_url }}" alt="" class="abs-2"><img loading="lazy" src="{{ 'blue-bucket.svg' | asset_url }}" alt="" class="image-40">
                  <div class="_16b-caps blue center">{{ 't8403c23' | t }}</div>
                  <div class="_20eb center mtop10">{{ 't43d5c719' | t }}</div>
                  <div class="btn-quantity">
                    <p class="filteroptiontext">{{ 't4204e' | t }}</p>
                    <p class="filteroptiontext">{{ 't60f' | t }}</p>
                    <p class="filteroptiontext">{{ 't2b' | t }}</p>
                  </div>
                </div>
              </div>
              <p class="_20eb mtop150">{{ 'tn7b1c1d1a' | t }}</p>
              <div class="radio-btns"><label class="w-radio">
                  <div class="w-form-formradioinput w-form-formradioinput--inputType-custom w-radio-input"></div><input type="radio" name="contact[radio]" id="radio-4" value="Radio" data-name="Radio 4" style="opacity:0;position:absolute;z-index:-1"><span class="_16reg mclear w-form-label" for="radio-4">{{ 't15ac7' | t }}</span>
                </label><label class="w-radio">
                  <div class="w-form-formradioinput w-form-formradioinput--inputType-custom w-radio-input"></div><input type="radio" name="contact[radio]" id="radio-4" value="Radio" data-name="Radio 4" style="opacity:0;position:absolute;z-index:-1"><span class="_16reg mclear w-form-label" for="radio-4">{{ 't9e1' | t }}</span>
                </label><label class="w-radio">
                  <div class="w-form-formradioinput w-form-formradioinput--inputType-custom w-radio-input"></div><input type="radio" name="contact[radio]" id="radio-4" value="Radio" data-name="Radio 4" style="opacity:0;position:absolute;z-index:-1"><span class="_16reg mclear w-form-label" for="radio-4">{{ 't15e640ce' | t }}</span>
                </label></div>
              <p class="_18reg">{{ 'tn155f6e03' | t }}</p><label class="w-checkbox"><input type="checkbox" name="contact[checkbox]" id="checkbox" data-name="Checkbox" class="w-checkbox-input"><span class="_14reg blue w-form-label" for="checkbox">{{ 't7c0bab6' | t }}</span></label>
              <p class="_20eb mtop150">{{ 't1819dc56' | t }}</p>
              <div class="div-block-33">
                <p class="_18reg bottom0">{{ 't45b2bde7' | t }}</p>
                <p class="_20eb sum">{{ 't136762ab' | t }}</p>
              </div>
              <p class="_12reg">{{ 'tn33af2dfa' | t }}</p>
              <div class="radio-btns mbottom20"><label class="w-radio">
                  <div class="w-form-formradioinput w-form-formradioinput--inputType-custom w-radio-input" data-w-id="c963301c-a629-a4d8-682f-421fff9c2b6b"></div><input type="radio" name="contact[radio]" id="radio" value="Radio" data-name="Radio" style="opacity:0;position:absolute;z-index:-1"><span class="_16reg mclear w-form-label" for="radio">{{ 't15ac7' | t }}</span>
                </label><label class="w-radio">
                  <div class="w-form-formradioinput w-form-formradioinput--inputType-custom w-radio-input" data-w-id="f04212bd-0744-4f01-18f9-dca0354ca345"></div><input type="radio" name="contact[radio]" id="radio-2" value="Radio" data-name="Radio 2" style="opacity:0;position:absolute;z-index:-1"><span class="_16reg mclear w-form-label" for="radio-2">{{ 'tn296021e3' | t }}</span>
                </label></div>
              <p class="_18reg">{{ 'tn63f41221' | t }}<br>{{ 't200d' | t }}<br>{{ 't1085ae0f' | t }}</p>
              <div class="div-block-34 mtop150">
                <div class="div-block-35"><img loading="lazy" src="{{ 'paintbucketsmall.svg' | asset_url }}" alt="" class="image-33">
                  <div>
                    <p class="_20eb clear">{{ 'tn2378a2eb' | t }}</p>
                    <p class="_12reg">{{ 't46dcb7ca' | t }}</p>
                  </div>
                </div>
                <a sym-bind="{&quot;link&quot;:{&quot;type&quot;:&quot;Select&quot;,&quot;val&quot;:{&quot;from&quot;:{&quot;type&quot;:&quot;Variable&quot;,&quot;val&quot;:&quot;data&quot;},&quot;prop&quot;:&quot;9c051b40-236c-f81d-29f1-9aa76040d089&quot;}}}" id="w-node-a8d99a27-a812-066e-2715-cb300052e196-0052e196" href="#" class="button small-allred w-inline-block">
                  <div sym-bind="{&quot;children&quot;:{&quot;type&quot;:&quot;Select&quot;,&quot;val&quot;:{&quot;from&quot;:{&quot;type&quot;:&quot;Variable&quot;,&quot;val&quot;:&quot;data&quot;},&quot;prop&quot;:&quot;bf61cfaa-4a6d-ee88-efe3-4bb58c59e091&quot;}}}" class="_14sb-button">{{ 'tn4582c00b' | t }}</div><img src="{{ 'arrow_right_1.svg' | asset_url }}" loading="lazy" alt="" class="button_arrow extrasmall">
                </a>
              </div>
              <div class="separator"></div><input type="submit" value="1100 KR - KJØP NÅ →" data-wait="Please wait..." class="button big-allred formexter w-button">
            {%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
            <div class="separator"></div>
            <div class="w-form-done  {% if form_success %}form-posted-successfully{% endif %}">
              <div>{{ 't5a0ea5a1' | t }}</div>
            </div>
            {%- unless form_success -%}<div class="w-form-fail  {% if form.errors %}form-has-errors{% endif %}">
              <div>{%- render "form-errors", form_errors: form_errors -%}</div>
            </div>{%- endunless -%}
          </div>
        </div>
        <div id="w-node-f2948394-8fbd-aa18-a85a-b59f7ab7001e-764125a0" class="pictures-2">
          <div class="image-column-orderp">
            <div data-w-id="f2948394-8fbd-aa18-a85a-b59f7ab70020" class="img01 big"><img src="{{ 'rectangle-73.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 680px, (max-width: 772px) 88vw, 680px" srcset="{{ 'rectangle-73-p-500.png' | asset_url }} 500w, {{ 'rectangle-73.png' | asset_url }} 680w" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-padding wf-section">
    <div class="cta-2buttons">
      <h3 class="h4-blue center">{{ 'tn154f4f9e' | t }}</h3>
      <div class="block-btn mtop60 home">
        {%- render 'button_normal-and-allred' -%}
        {%- section 'button_normal-and-red' -%}
      </div>
    </div>
  </div>
  <div class="section-padding wf-section">
    <div class="cards-tool">
      <div class="content-cardtool">
        <h3 class="h3-blue center">{{ 'tn2b33e285' | t }}</h3>
      </div>
      <div class="tools-card">
        {%- if settings.collection_2_paint_order_page_from_start != blank -%}{%- render "markup_for_collection_2_paint_order_page_from_start" -%}{%- else -%}{%- render "products_max_4_where_category_idin_categorytools_number_3" -%}{%- endif -%}
      </div>
      <div class="b-btn">
        {%- render 'button_normal-and-allred' -%}
      </div>
    </div>
  </div>
  {%- render 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6287bb88d050e6c7bbe247e8" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}<script type="module">import*as UdeslyBanner from"https://cdn.jsdelivr.net/npm/udesly-ad-banner@0.0.1/loader/index.js";UdeslyBanner.defineCustomElements(),document.body.append(document.createElement("udesly-banner"));</script>